In [33]:
import pandas as pd
import joblib
import json
from IPython.display import display, Markdown

def load_config(config_file="../config.json"):
    """Load configuration from a JSON file."""
    with open(config_file, 'r') as file:
        config = json.load(file)
    return config

In [34]:
test_df = pd.read_csv('../outputs/test_df.csv')

In [35]:
test_df

,projectid,total_price_excluding_optional_support,students_reached,total_projects_in_city,total_projects_in_state,percentage_reached_month_1,percentage_reached_month_2,percentage_reached_month_3,date_posted,fully_funded,...,month_posted_December,month_posted_February,month_posted_January,month_posted_July,month_posted_June,month_posted_March,month_posted_May,month_posted_November,month_posted_October,month_posted_September
0,a11d5c86692ef20e9f702094504bb5db,-0.011812,-0.026369,-0.604428,1.760114,-0.776143,-0.969951,-1.103760,2013-01-01,1.0,...,False,False,True,False,False,False,False,False,False,False
1,8bdc6b4cfc850f6f7cc3963c48ba454b,0.036787,0.008909,-0.619092,-1.032311,-0.594878,-0.798105,-0.932964,2013-01-01,0.0,...,False,False,True,False,False,False,False,False,False,False
2,88f263f1cd657bccce254ffc0b79df4d,0.023713,-0.028831,-0.627791,1.760114,1.452347,1.142747,0.996033,2013-01-01,1.0,...,False,False,True,False,False,False,False,False,False,False
3,a8a6e08b6ae7ab1a88c16ba82ac8e9da,-0.002366,-0.000936,-0.614867,-0.745992,1.452347,1.142747,0.996033,2013-01-01,1.0,...,False,False,True,False,False,False,False,False,False,False
4,be21151602e4fd47dd4012114fd519c6,-0.022787,-0.030061,-0.598588,-0.661352,-0.379132,1.142747,0.996033,2013-01-01,1.0,...,False,False,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114032,a0e839f24645e3d6dcbd327f8441b043,0.001489,-0.015704,1.890146,0.566334,0.411419,1.142747,0.996033,2013-12-31,1.0,...,True,False,False,False,False,False,False,False,False,False
114033,f820ef3537f4445b0716244fae36f763,-0.019920,-0.028010,-0.633631,-1.034493,-0.776143,-0.969951,-1.103760,2013-12-31,0.0,...,True,False,False,False,False,False,False,False,False,False
114034,95ee208a51831edffa7cc2e0aa3e83cd,-0.025463,-0.000116,-0.274494,-0.858846,1.452347,1.142747,0.996033,2013-12-31,1.0,...,True,False,False,False,False,False,False,False,False,False
114035,1aa5e1d739a40c2763da1a0bb0f0f335,-0.027321,-0.030882,-0.534216,-0.690961,1.452347,1.142747,0.996033,2013-12-31,1.0,...,True,False,False,False,False,False,False,False,False,False
114036,62526d85d2a1818432d03d600969e99c,-0.007584,-0.037445,-0.622323,-0.176461,-0.221979,-0.040451,0.996033,2013-12-31,1.0,...,True,False,False,False,False,False,False,False,False,False

In [36]:
test_df.columns

Index(['projectid', 'total_price_excluding_optional_support',
       'students_reached', 'total_projects_in_city', 'total_projects_in_state',
       'percentage_reached_month_1', 'percentage_reached_month_2',
       'percentage_reached_month_3', 'date_posted', 'fully_funded',
       'poverty_level_high poverty', 'poverty_level_low poverty',
       'school_metro_rural', 'school_metro_suburban', 'school_metro_urban',
       'grade_level_Grades 3-5', 'grade_level_Grades 6-8',
       'grade_level_Grades 9-12', 'grade_level_Grades PreK-2',
       'primary_focus_subject_Applied Sciences',
       'primary_focus_subject_Character Education',
       'primary_focus_subject_Civics & Government',
       'primary_focus_subject_College & Career Prep',
       'primary_focus_subject_Community Service', 'primary_focus_subject_ESL',
       'primary_focus_subject_Early Development',
       'primary_focus_subject_Economics',
       'primary_focus_subject_Environmental Science',
       'primary_focus_subject_Extracurricular',
       'primary_focus_subject_Foreign Languages',
       'primary_focus_subject_Gym & Fitness',
       'primary_focus_subject_Health & Life Science',
       'primary_focus_subject_Health & Wellness',
       'primary_focus_subject_History & Geography',
       'primary_focus_subject_Literacy',
       'primary_focus_subject_Literature & Writing',
       'primary_focus_subject_Mathematics', 'primary_focus_subject_Music',
       'primary_focus_subject_Nutrition', 'primary_focus_subject_Other',
       'primary_focus_subject_Parent Involvement',
       'primary_focus_subject_Performing Arts',
       'primary_focus_subject_Social Sciences',
       'primary_focus_subject_Special Needs', 'primary_focus_subject_Sports',
       'primary_focus_subject_Visual Arts', 'resource_type_Books',
       'resource_type_Other', 'resource_type_Supplies',
       'resource_type_Technology', 'resource_type_Trips',
       'resource_type_Visitors', 'month_posted_April', 'month_posted_August',
       'month_posted_December', 'month_posted_February',
       'month_posted_January', 'month_posted_July', 'month_posted_June',
       'month_posted_March', 'month_posted_May', 'month_posted_November',
       'month_posted_October', 'month_posted_September'],
      dtype='object')

In [37]:
test_df['date_posted'] = pd.to_datetime(test_df['date_posted'])

In [38]:
# Set max_date to filter projects posted for at least 3 months
fixed_max_date = pd.to_datetime('2013-12-31')
test_df['months_since_posted'] = ((fixed_max_date - test_df['date_posted']) / pd.Timedelta(days=30)).astype(int)
eligible_projects = test_df[test_df['months_since_posted'] >= 3].copy()

In [39]:
test_df.columns

Index(['projectid', 'total_price_excluding_optional_support',
       'students_reached', 'total_projects_in_city', 'total_projects_in_state',
       'percentage_reached_month_1', 'percentage_reached_month_2',
       'percentage_reached_month_3', 'date_posted', 'fully_funded',
       'poverty_level_high poverty', 'poverty_level_low poverty',
       'school_metro_rural', 'school_metro_suburban', 'school_metro_urban',
       'grade_level_Grades 3-5', 'grade_level_Grades 6-8',
       'grade_level_Grades 9-12', 'grade_level_Grades PreK-2',
       'primary_focus_subject_Applied Sciences',
       'primary_focus_subject_Character Education',
       'primary_focus_subject_Civics & Government',
       'primary_focus_subject_College & Career Prep',
       'primary_focus_subject_Community Service', 'primary_focus_subject_ESL',
       'primary_focus_subject_Early Development',
       'primary_focus_subject_Economics',
       'primary_focus_subject_Environmental Science',
       'primary_focus_subject_Extracurricular',
       'primary_focus_subject_Foreign Languages',
       'primary_focus_subject_Gym & Fitness',
       'primary_focus_subject_Health & Life Science',
       'primary_focus_subject_Health & Wellness',
       'primary_focus_subject_History & Geography',
       'primary_focus_subject_Literacy',
       'primary_focus_subject_Literature & Writing',
       'primary_focus_subject_Mathematics', 'primary_focus_subject_Music',
       'primary_focus_subject_Nutrition', 'primary_focus_subject_Other',
       'primary_focus_subject_Parent Involvement',
       'primary_focus_subject_Performing Arts',
       'primary_focus_subject_Social Sciences',
       'primary_focus_subject_Special Needs', 'primary_focus_subject_Sports',
       'primary_focus_subject_Visual Arts', 'resource_type_Books',
       'resource_type_Other', 'resource_type_Supplies',
       'resource_type_Technology', 'resource_type_Trips',
       'resource_type_Visitors', 'month_posted_April', 'month_posted_August',
       'month_posted_December', 'month_posted_February',
       'month_posted_January', 'month_posted_July', 'month_posted_June',
       'month_posted_March', 'month_posted_May', 'month_posted_November',
       'month_posted_October', 'month_posted_September',
       'months_since_posted'],
      dtype='object')

In [40]:
config = load_config()
poverty_levels = ["low", "high"]
models = ["random_forest", "logistic_regression"]
recommendations = {}

In [41]:
for model_type in models:
    for pov_level in poverty_levels:
        pov_column = f"poverty_level_{pov_level} poverty"
        pov_projects = eligible_projects[eligible_projects[pov_column] == 1].copy()
        
        # Load the classifier
        classifier = joblib.load(f"../outputs/{model_type}_{pov_level}_poverty.pkl")
        
        X_test_filtered = pov_projects.drop(columns=['fully_funded', 'date_posted', 'months_since_posted', 'projectid'], errors='ignore')
        X_test_filtered = X_test_filtered.reindex(columns=classifier.feature_names_in_, fill_value=0)
        
        pov_projects[f'probability_fully_funded_{model_type}'] = classifier.predict_proba(X_test_filtered)[:, 1]
        
        pov_projects_sorted = pov_projects.sort_values(by=f'probability_fully_funded_{model_type}', ascending=False)

        if pov_level in ["high", "highest"]:
            top_recommendations = pov_projects_sorted.head(10)
        elif pov_level in ["low", "moderate"]:
            top_recommendations = pov_projects_sorted.head(3)

        recommendations[(model_type, pov_level)] = top_recommendations[['projectid', 'date_posted', f'probability_fully_funded_{model_type}']]

In [42]:
list(recommendations.keys())

[('random_forest', 'low'),
 ('random_forest', 'high'),
 ('logistic_regression', 'low'),
 ('logistic_regression', 'high')]

In [43]:
for key, recs in recommendations.items():
    model_type, pov_level = key  # Unpack model type and poverty level
    
    # Sort projects by probability to create a ranking
    recs_sorted = recs.sort_values(f'probability_fully_funded_{model_type}', ascending=False).reset_index(drop=True)
    recs_sorted['rank'] = recs_sorted.index + 1  # Add rank column
    
    # Add model type and poverty level columns
    recs_sorted['model_type'] = model_type.capitalize()
    recs_sorted['poverty_level'] = pov_level.capitalize()
    
    # Select only relevant columns and rename for consistency
    table = recs_sorted[['rank', 'projectid', 'model_type', 'poverty_level', f'probability_fully_funded_{model_type}']]
    table.rename(columns={f'probability_fully_funded_{model_type}': 'probability_fully_funded'}, inplace=True)
    
    # Display table with a header for context
    display(Markdown(f"### {model_type.capitalize()} Model - {pov_level.capitalize()} Poverty Level"))
    display(table)

/var/folders/5m/4tj5fx915fv1z073c22c2q7m0000gn/T/ipykernel_83789/692742374.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table.rename(columns={f'probability_fully_funded_{model_type}': 'probability_fully_funded'}, inplace=True)

### Random_forest Model - Low Poverty Level

,rank,projectid,model_type,poverty_level,probability_fully_funded
0,1,e83030a9ec326255c77fcc9cdb663e39,Random_forest,Low,1.0
1,2,1b00ed7b744ee58b1473d810a703a71f,Random_forest,Low,1.0
2,3,65eedd892fb5365449a06a3ca4d87a0a,Random_forest,Low,1.0

/var/folders/5m/4tj5fx915fv1z073c22c2q7m0000gn/T/ipykernel_83789/692742374.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table.rename(columns={f'probability_fully_funded_{model_type}': 'probability_fully_funded'}, inplace=True)

### Random_forest Model - High Poverty Level

,rank,projectid,model_type,poverty_level,probability_fully_funded
0,1,4b80c022e95e49e4cb07ed3dc90a2057,Random_forest,High,1.0
1,2,47de98ac56704b21f5cc27d40ada3079,Random_forest,High,1.0
2,3,1a1de1070efb68b3652fecdd43cd641e,Random_forest,High,1.0
3,4,fd91265d4ecaf9f298fe456b6122a62e,Random_forest,High,1.0
4,5,dcee25b4b2fc98207a43b7e7ee958ba0,Random_forest,High,1.0
5,6,2c202b40c75d53be4652bbcaa4d84036,Random_forest,High,1.0
6,7,1738d505f2fda6f699f66d360f1fa9ba,Random_forest,High,1.0
7,8,ec608336d8f616378d4363798186f81c,Random_forest,High,1.0
8,9,7b40fa2e04e36b3891b73866a790d803,Random_forest,High,1.0
9,10,aa27e86980f65774b58f789d948cd967,Random_forest,High,1.0

/var/folders/5m/4tj5fx915fv1z073c22c2q7m0000gn/T/ipykernel_83789/692742374.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table.rename(columns={f'probability_fully_funded_{model_type}': 'probability_fully_funded'}, inplace=True)

### Logistic_regression Model - Low Poverty Level

,rank,projectid,model_type,poverty_level,probability_fully_funded
0,1,ec359f64bf3ec063c2b3442a4c2ee52c,Logistic_regression,Low,1.0
1,2,cb09d5c2747675fd1a0d9256665634ae,Logistic_regression,Low,1.0
2,3,b108a17ac554632bc10e9f10a0032bc0,Logistic_regression,Low,1.0

/var/folders/5m/4tj5fx915fv1z073c22c2q7m0000gn/T/ipykernel_83789/692742374.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table.rename(columns={f'probability_fully_funded_{model_type}': 'probability_fully_funded'}, inplace=True)

### Logistic_regression Model - High Poverty Level

,rank,projectid,model_type,poverty_level,probability_fully_funded
0,1,23093b3e4e0749f365c5637fd19258fa,Logistic_regression,High,1.0
1,2,e891154767af72f5889a4ee9c269ccfc,Logistic_regression,High,1.0
2,3,c2be8cea38597dccac6cc66f61cbe219,Logistic_regression,High,1.0
3,4,b98d990d3f8a8059852296f34bc6754f,Logistic_regression,High,1.0
4,5,2c755e2c7b3ac84a83e12c05b0c45cb2,Logistic_regression,High,1.0
5,6,8bcfd367af337e9088f5b0de720ca36b,Logistic_regression,High,1.0
6,7,aadfbc4556e1696ba544f912ad90bbc7,Logistic_regression,High,1.0
7,8,38f83be57ec9d2c3909411d75eeec2b4,Logistic_regression,High,1.0
8,9,7b65f46e12488e12244c821a9283f2e0,Logistic_regression,High,1.0
9,10,0bd1420971b22fc70057e5462dc9f093,Logistic_regression,High,1.0

In [44]:
for (model_type, pov_level), top_recs in recommendations.items():
    top_recs = top_recs.merge(test_df, on='projectid', how='left', suffixes=('', '_test'))
    recommendations[(model_type, pov_level)] = top_recs
    display(recommendations)

{('random_forest',
  'low'):                           projectid date_posted  \
 0  e83030a9ec326255c77fcc9cdb663e39  2013-07-10
 1  1b00ed7b744ee58b1473d810a703a71f  2013-08-17
 2  65eedd892fb5365449a06a3ca4d87a0a  2013-08-17

    probability_fully_funded_random_forest  \
 0                                     1.0
 1                                     1.0
 2                                     1.0

    total_price_excluding_optional_support  students_reached  \
 0                               -0.015421         -0.028831
 1                                0.008988         -0.030471
 2                                0.026836         -0.031292

    total_projects_in_city  total_projects_in_state  \
 0               -0.624933                -0.978494
 1               -0.544779                -0.176461
 2               -0.487118                -0.745992

    percentage_reached_month_1  percentage_reached_month_2  \
 0                    0.113224                    1.142747
 1                    0.548907                    1.142747
 2                    1.452347                    1.142747

    percentage_reached_month_3  ... month_posted_February  \
 0                    0.996033  ...                 False
 1                    0.996033  ...                 False
 2                    0.996033  ...                 False

    month_posted_January  month_posted_July  month_posted_June  \
 0                 False               True              False
 1                 False              False              False
 2                 False              False              False

    month_posted_March  month_posted_May  month_posted_November  \
 0               False             False                  False
 1               False             False                  False
 2               False             False                  False

    month_posted_October  month_posted_September  months_since_posted
 0                 False                   False                    5
 1                 False                   False                    4
 2                 False                   False                    4

 [3 rows x 67 columns],
 ('random_forest',
  'high'):                               projectid date_posted  \
 76302  4b80c022e95e49e4cb07ed3dc90a2057  2013-10-02
 66964  47de98ac56704b21f5cc27d40ada3079  2013-09-14
 39293  1a1de1070efb68b3652fecdd43cd641e  2013-07-08
 39295  fd91265d4ecaf9f298fe456b6122a62e  2013-07-08
 39298  dcee25b4b2fc98207a43b7e7ee958ba0  2013-07-08
 39300  2c202b40c75d53be4652bbcaa4d84036  2013-07-08
 39305  1738d505f2fda6f699f66d360f1fa9ba  2013-07-08
 66970  ec608336d8f616378d4363798186f81c  2013-09-14
 66966  7b40fa2e04e36b3891b73866a790d803  2013-09-14
 39312  aa27e86980f65774b58f789d948cd967  2013-07-08

        probability_fully_funded_random_forest
 76302                                     1.0
 66964                                     1.0
 39293                                     1.0
 39295                                     1.0
 39298                                     1.0
 39300                                     1.0
 39305                                     1.0
 66970                                     1.0
 66966                                     1.0
 39312                                     1.0  ,
 ('logistic_regression',
  'low'):                               projectid date_posted  \
 63934  ec359f64bf3ec063c2b3442a4c2ee52c  2013-09-09
 65159  cb09d5c2747675fd1a0d9256665634ae  2013-09-11
 75350  b108a17ac554632bc10e9f10a0032bc0  2013-09-30

        probability_fully_funded_logistic_regression
 63934                                           1.0
 65159                                           1.0
 75350                                           1.0  ,
 ('logistic_regression',
  'high'):                               projectid date_posted  \
 62193  23093b3e4e0749f365c5637fd19258fa  2013-09-07
 59401  e891154767af72f5889a4ee9c269ccfc  2013-09-03
 66177  c2be8cea38597dccac6cc66f61cbe219  2013-09-13
 69125  b98d990d3f8a8059852296f34bc6754f  2013-09-18
 68847  2c755e2c7b3ac84a83e12c05b0c45cb2  2013-09-18
 64074  8bcfd367af337e9088f5b0de720ca36b  2013-09-09
 65101  aadfbc4556e1696ba544f912ad90bbc7  2013-09-11
 65120  38f83be57ec9d2c3909411d75eeec2b4  2013-09-11
 75072  7b65f46e12488e12244c821a9283f2e0  2013-09-30
 72007  0bd1420971b22fc70057e5462dc9f093  2013-09-24

        probability_fully_funded_logistic_regression
 62193                                           1.0
 59401                                           1.0
 66177                                           1.0
 69125                                           1.0
 68847                                           1.0
 64074                                           1.0
 65101                                           1.0
 65120                                           1.0
 75072                                           1.0
 72007                                           1.0  }

{('random_forest',
  'low'):                           projectid date_posted  \
 0  e83030a9ec326255c77fcc9cdb663e39  2013-07-10
 1  1b00ed7b744ee58b1473d810a703a71f  2013-08-17
 2  65eedd892fb5365449a06a3ca4d87a0a  2013-08-17

    probability_fully_funded_random_forest  \
 0                                     1.0
 1                                     1.0
 2                                     1.0

    total_price_excluding_optional_support  students_reached  \
 0                               -0.015421         -0.028831
 1                                0.008988         -0.030471
 2                                0.026836         -0.031292

    total_projects_in_city  total_projects_in_state  \
 0               -0.624933                -0.978494
 1               -0.544779                -0.176461
 2               -0.487118                -0.745992

    percentage_reached_month_1  percentage_reached_month_2  \
 0                    0.113224                    1.142747
 1                    0.548907                    1.142747
 2                    1.452347                    1.142747

    percentage_reached_month_3  ... month_posted_February  \
 0                    0.996033  ...                 False
 1                    0.996033  ...                 False
 2                    0.996033  ...                 False

    month_posted_January  month_posted_July  month_posted_June  \
 0                 False               True              False
 1                 False              False              False
 2                 False              False              False

    month_posted_March  month_posted_May  month_posted_November  \
 0               False             False                  False
 1               False             False                  False
 2               False             False                  False

    month_posted_October  month_posted_September  months_since_posted
 0                 False                   False                    5
 1                 False                   False                    4
 2                 False                   False                    4

 [3 rows x 67 columns],
 ('random_forest',
  'high'):                           projectid date_posted  \
 0  4b80c022e95e49e4cb07ed3dc90a2057  2013-10-02
 1  47de98ac56704b21f5cc27d40ada3079  2013-09-14
 2  1a1de1070efb68b3652fecdd43cd641e  2013-07-08
 3  fd91265d4ecaf9f298fe456b6122a62e  2013-07-08
 4  dcee25b4b2fc98207a43b7e7ee958ba0  2013-07-08
 5  2c202b40c75d53be4652bbcaa4d84036  2013-07-08
 6  1738d505f2fda6f699f66d360f1fa9ba  2013-07-08
 7  ec608336d8f616378d4363798186f81c  2013-09-14
 8  7b40fa2e04e36b3891b73866a790d803  2013-09-14
 9  aa27e86980f65774b58f789d948cd967  2013-07-08

    probability_fully_funded_random_forest  \
 0                                     1.0
 1                                     1.0
 2                                     1.0
 3                                     1.0
 4                                     1.0
 5                                     1.0
 6                                     1.0
 7                                     1.0
 8                                     1.0
 9                                     1.0

    total_price_excluding_optional_support  students_reached  \
 0                               -0.027692          0.025317
 1                                0.021416         -0.003397
 2                                0.049912         -0.034163
 3                               -0.028061          0.072492
 4                               -0.026341         -0.027600
 5                                0.021327          0.041726
 6                               -0.008272         -0.001346
 7                               -0.027182         -0.021857
 8                               -0.006658         -0.034163
 9                               -0.004579         -0.034163

    total_projects_in_city  total_projects_in_state  \
 0               -0.637857                -0.187845
 1               -0.114312                -0.187845
 2               -0.604801                 1.760114
 3                0.141185                -0.865190
 4               -0.544903                 1.760114
 5               -0.593617                 0.566334
 6                2.893121                -0.176461
 7               -0.638602                -0.865190
 8               -0.639969                -0.950348
 9                0.256134                -0.924520

    percentage_reached_month_1  percentage_reached_month_2  \
 0                    1.452347                    1.142747
 1                   -0.515861                   -0.369150
 2                    1.452347                    1.142747
 3                    1.452347                    1.142747
 4                    1.452347                    1.142747
 5                    1.452347                    1.142747
 6                    0.177644                    1.142747
 7                    1.452347                    1.142747
 8                   -0.776143                    1.142747
 9                    1.452347                    1.142747

    percentage_reached_month_3  ... month_posted_February  \
 0                    0.996033  ...                 False
 1                    0.996033  ...                 False
 2                    0.996033  ...                 False
 3                    0.996033  ...                 False
 4                    0.996033  ...                 False
 5                    0.996033  ...                 False
 6                    0.996033  ...                 False
 7                    0.996033  ...                 False
 8                    0.996033  ...                 False
 9                    0.996033  ...                 False

    month_posted_January  month_posted_July  month_posted_June  \
 0                 False              False              False
 1                 False              False              False
 2                 False               True              False
 3                 False               True              False
 4                 False               True              False
 5                 False               True              False
 6                 False               True              False
 7                 False              False              False
 8                 False              False              False
 9                 False               True              False

    month_posted_March  month_posted_May  month_posted_November  \
 0               False             False                  False
 1               False             False                  False
 2               False             False                  False
 3               False             False                  False
 4               False             False                  False
 5               False             False                  False
 6               False             False                  False
 7               False             False                  False
 8               False             False                  False
 9               False             False                  False

    month_posted_October  month_posted_September  months_since_posted
 0                  True                   False                    3
 1                 False                    True                    3
 2                 False                   False                    5
 3                 False                   False                    5
 4                 False                   False                    5
 5                 False                   False                    5
 6                 False                   False                    5
 7                 False                    True                    3
 8                 False                    True                    3
 9                 False                   False                    5

 [10 rows x 67 columns],
 ('logistic_regression',
  'low'):                               projectid date_posted  \
 63934  ec359f64bf3ec063c2b3442a4c2ee52c  2013-09-09
 65159  cb09d5c2747675fd1a0d9256665634ae  2013-09-11
 75350  b108a17ac554632bc10e9f10a0032bc0  2013-09-30

        probability_fully_funded_logistic_regression
 63934                                           1.0
 65159                                           1.0
 75350                                           1.0  ,
 ('logistic_regression',
  'high'):                               projectid date_posted  \
 62193  23093b3e4e0749f365c5637fd19258fa  2013-09-07
 59401  e891154767af72f5889a4ee9c269ccfc  2013-09-03
 66177  c2be8cea38597dccac6cc66f61cbe219  2013-09-13
 69125  b98d990d3f8a8059852296f34bc6754f  2013-09-18
 68847  2c755e2c7b3ac84a83e12c05b0c45cb2  2013-09-18
 64074  8bcfd367af337e9088f5b0de720ca36b  2013-09-09
 65101  aadfbc4556e1696ba544f912ad90bbc7  2013-09-11
 65120  38f83be57ec9d2c3909411d75eeec2b4  2013-09-11
 75072  7b65f46e12488e12244c821a9283f2e0  2013-09-30
 72007  0bd1420971b22fc70057e5462dc9f093  2013-09-24

        probability_fully_funded_logistic_regression
 62193                                           1.0
 59401                                           1.0
 66177                                           1.0
 69125                                           1.0
 68847                                           1.0
 64074                                           1.0
 65101                                           1.0
 65120                                           1.0
 75072                                           1.0
 72007                                           1.0  }

{('random_forest',
  'low'):                           projectid date_posted  \
 0  e83030a9ec326255c77fcc9cdb663e39  2013-07-10
 1  1b00ed7b744ee58b1473d810a703a71f  2013-08-17
 2  65eedd892fb5365449a06a3ca4d87a0a  2013-08-17

    probability_fully_funded_random_forest  \
 0                                     1.0
 1                                     1.0
 2                                     1.0

    total_price_excluding_optional_support  students_reached  \
 0                               -0.015421         -0.028831
 1                                0.008988         -0.030471
 2                                0.026836         -0.031292

    total_projects_in_city  total_projects_in_state  \
 0               -0.624933                -0.978494
 1               -0.544779                -0.176461
 2               -0.487118                -0.745992

    percentage_reached_month_1  percentage_reached_month_2  \
 0                    0.113224                    1.142747
 1                    0.548907                    1.142747
 2                    1.452347                    1.142747

    percentage_reached_month_3  ... month_posted_February  \
 0                    0.996033  ...                 False
 1                    0.996033  ...                 False
 2                    0.996033  ...                 False

    month_posted_January  month_posted_July  month_posted_June  \
 0                 False               True              False
 1                 False              False              False
 2                 False              False              False

    month_posted_March  month_posted_May  month_posted_November  \
 0               False             False                  False
 1               False             False                  False
 2               False             False                  False

    month_posted_October  month_posted_September  months_since_posted
 0                 False                   False                    5
 1                 False                   False                    4
 2                 False                   False                    4

 [3 rows x 67 columns],
 ('random_forest',
  'high'):                           projectid date_posted  \
 0  4b80c022e95e49e4cb07ed3dc90a2057  2013-10-02
 1  47de98ac56704b21f5cc27d40ada3079  2013-09-14
 2  1a1de1070efb68b3652fecdd43cd641e  2013-07-08
 3  fd91265d4ecaf9f298fe456b6122a62e  2013-07-08
 4  dcee25b4b2fc98207a43b7e7ee958ba0  2013-07-08
 5  2c202b40c75d53be4652bbcaa4d84036  2013-07-08
 6  1738d505f2fda6f699f66d360f1fa9ba  2013-07-08
 7  ec608336d8f616378d4363798186f81c  2013-09-14
 8  7b40fa2e04e36b3891b73866a790d803  2013-09-14
 9  aa27e86980f65774b58f789d948cd967  2013-07-08

    probability_fully_funded_random_forest  \
 0                                     1.0
 1                                     1.0
 2                                     1.0
 3                                     1.0
 4                                     1.0
 5                                     1.0
 6                                     1.0
 7                                     1.0
 8                                     1.0
 9                                     1.0

    total_price_excluding_optional_support  students_reached  \
 0                               -0.027692          0.025317
 1                                0.021416         -0.003397
 2                                0.049912         -0.034163
 3                               -0.028061          0.072492
 4                               -0.026341         -0.027600
 5                                0.021327          0.041726
 6                               -0.008272         -0.001346
 7                               -0.027182         -0.021857
 8                               -0.006658         -0.034163
 9                               -0.004579         -0.034163

    total_projects_in_city  total_projects_in_state  \
 0               -0.637857                -0.187845
 1               -0.114312                -0.187845
 2               -0.604801                 1.760114
 3                0.141185                -0.865190
 4               -0.544903                 1.760114
 5               -0.593617                 0.566334
 6                2.893121                -0.176461
 7               -0.638602                -0.865190
 8               -0.639969                -0.950348
 9                0.256134                -0.924520

    percentage_reached_month_1  percentage_reached_month_2  \
 0                    1.452347                    1.142747
 1                   -0.515861                   -0.369150
 2                    1.452347                    1.142747
 3                    1.452347                    1.142747
 4                    1.452347                    1.142747
 5                    1.452347                    1.142747
 6                    0.177644                    1.142747
 7                    1.452347                    1.142747
 8                   -0.776143                    1.142747
 9                    1.452347                    1.142747

    percentage_reached_month_3  ... month_posted_February  \
 0                    0.996033  ...                 False
 1                    0.996033  ...                 False
 2                    0.996033  ...                 False
 3                    0.996033  ...                 False
 4                    0.996033  ...                 False
 5                    0.996033  ...                 False
 6                    0.996033  ...                 False
 7                    0.996033  ...                 False
 8                    0.996033  ...                 False
 9                    0.996033  ...                 False

    month_posted_January  month_posted_July  month_posted_June  \
 0                 False              False              False
 1                 False              False              False
 2                 False               True              False
 3                 False               True              False
 4                 False               True              False
 5                 False               True              False
 6                 False               True              False
 7                 False              False              False
 8                 False              False              False
 9                 False               True              False

    month_posted_March  month_posted_May  month_posted_November  \
 0               False             False                  False
 1               False             False                  False
 2               False             False                  False
 3               False             False                  False
 4               False             False                  False
 5               False             False                  False
 6               False             False                  False
 7               False             False                  False
 8               False             False                  False
 9               False             False                  False

    month_posted_October  month_posted_September  months_since_posted
 0                  True                   False                    3
 1                 False                    True                    3
 2                 False                   False                    5
 3                 False                   False                    5
 4                 False                   False                    5
 5                 False                   False                    5
 6                 False                   False                    5
 7                 False                    True                    3
 8                 False                    True                    3
 9                 False                   False                    5

 [10 rows x 67 columns],
 ('logistic_regression',
  'low'):                           projectid date_posted  \
 0  ec359f64bf3ec063c2b3442a4c2ee52c  2013-09-09
 1  cb09d5c2747675fd1a0d9256665634ae  2013-09-11
 2  b108a17ac554632bc10e9f10a0032bc0  2013-09-30

    probability_fully_funded_logistic_regression  \
 0                                           1.0
 1                                           1.0
 2                                           1.0

    total_price_excluding_optional_support  students_reached  \
 0                                0.182774         -0.034984
 1                               -0.012138         -0.017345
 2                               -0.017994          0.017113

    total_projects_in_city  total_projects_in_state  \
 0               -0.627791                -0.733618
 1               -0.636614                 1.760114
 2               -0.626672                -0.870838

    percentage_reached_month_1  percentage_reached_month_2  \
 0                   -0.776143                    3.044825
 1                    1.452347                    1.142747
 2                    1.452347                    1.142747

    percentage_reached_month_3  ... month_posted_February  \
 0                    2.886492  ...                 False
 1                    0.996033  ...                 False
 2                    0.996033  ...                 False

    month_posted_January  month_posted_July  month_posted_June  \
 0                 False              False              False
 1                 False              False              False
 2                 False              False              False

    month_posted_March  month_posted_May  month_posted_November  \
 0               False             False                  False
 1               False             False                  False
 2               False             False                  False

    month_posted_October  month_posted_September  months_since_posted
 0                 False                    True                    3
 1                 False                    True                    3
 2                 False                    True                    3

 [3 rows x 67 columns],
 ('logistic_regression',
  'high'):                               projectid date_posted  \
 62193  23093b3e4e0749f365c5637fd19258fa  2013-09-07
 59401  e891154767af72f5889a4ee9c269ccfc  2013-09-03
 66177  c2be8cea38597dccac6cc66f61cbe219  2013-09-13
 69125  b98d990d3f8a8059852296f34bc6754f  2013-09-18
 68847  2c755e2c7b3ac84a83e12c05b0c45cb2  2013-09-18
 64074  8bcfd367af337e9088f5b0de720ca36b  2013-09-09
 65101  aadfbc4556e1696ba544f912ad90bbc7  2013-09-11
 65120  38f83be57ec9d2c3909411d75eeec2b4  2013-09-11
 75072  7b65f46e12488e12244c821a9283f2e0  2013-09-30
 72007  0bd1420971b22fc70057e5462dc9f093  2013-09-24

        probability_fully_funded_logistic_regression
 62193                                           1.0
 59401                                           1.0
 66177                                           1.0
 69125                                           1.0
 68847                                           1.0
 64074                                           1.0
 65101                                           1.0
 65120                                           1.0
 75072                                           1.0
 72007                                           1.0  }

{('random_forest',
  'low'):                           projectid date_posted  \
 0  e83030a9ec326255c77fcc9cdb663e39  2013-07-10
 1  1b00ed7b744ee58b1473d810a703a71f  2013-08-17
 2  65eedd892fb5365449a06a3ca4d87a0a  2013-08-17

    probability_fully_funded_random_forest  \
 0                                     1.0
 1                                     1.0
 2                                     1.0

    total_price_excluding_optional_support  students_reached  \
 0                               -0.015421         -0.028831
 1                                0.008988         -0.030471
 2                                0.026836         -0.031292

    total_projects_in_city  total_projects_in_state  \
 0               -0.624933                -0.978494
 1               -0.544779                -0.176461
 2               -0.487118                -0.745992

    percentage_reached_month_1  percentage_reached_month_2  \
 0                    0.113224                    1.142747
 1                    0.548907                    1.142747
 2                    1.452347                    1.142747

    percentage_reached_month_3  ... month_posted_February  \
 0                    0.996033  ...                 False
 1                    0.996033  ...                 False
 2                    0.996033  ...                 False

    month_posted_January  month_posted_July  month_posted_June  \
 0                 False               True              False
 1                 False              False              False
 2                 False              False              False

    month_posted_March  month_posted_May  month_posted_November  \
 0               False             False                  False
 1               False             False                  False
 2               False             False                  False

    month_posted_October  month_posted_September  months_since_posted
 0                 False                   False                    5
 1                 False                   False                    4
 2                 False                   False                    4

 [3 rows x 67 columns],
 ('random_forest',
  'high'):                           projectid date_posted  \
 0  4b80c022e95e49e4cb07ed3dc90a2057  2013-10-02
 1  47de98ac56704b21f5cc27d40ada3079  2013-09-14
 2  1a1de1070efb68b3652fecdd43cd641e  2013-07-08
 3  fd91265d4ecaf9f298fe456b6122a62e  2013-07-08
 4  dcee25b4b2fc98207a43b7e7ee958ba0  2013-07-08
 5  2c202b40c75d53be4652bbcaa4d84036  2013-07-08
 6  1738d505f2fda6f699f66d360f1fa9ba  2013-07-08
 7  ec608336d8f616378d4363798186f81c  2013-09-14
 8  7b40fa2e04e36b3891b73866a790d803  2013-09-14
 9  aa27e86980f65774b58f789d948cd967  2013-07-08

    probability_fully_funded_random_forest  \
 0                                     1.0
 1                                     1.0
 2                                     1.0
 3                                     1.0
 4                                     1.0
 5                                     1.0
 6                                     1.0
 7                                     1.0
 8                                     1.0
 9                                     1.0

    total_price_excluding_optional_support  students_reached  \
 0                               -0.027692          0.025317
 1                                0.021416         -0.003397
 2                                0.049912         -0.034163
 3                               -0.028061          0.072492
 4                               -0.026341         -0.027600
 5                                0.021327          0.041726
 6                               -0.008272         -0.001346
 7                               -0.027182         -0.021857
 8                               -0.006658         -0.034163
 9                               -0.004579         -0.034163

    total_projects_in_city  total_projects_in_state  \
 0               -0.637857                -0.187845
 1               -0.114312                -0.187845
 2               -0.604801                 1.760114
 3                0.141185                -0.865190
 4               -0.544903                 1.760114
 5               -0.593617                 0.566334
 6                2.893121                -0.176461
 7               -0.638602                -0.865190
 8               -0.639969                -0.950348
 9                0.256134                -0.924520

    percentage_reached_month_1  percentage_reached_month_2  \
 0                    1.452347                    1.142747
 1                   -0.515861                   -0.369150
 2                    1.452347                    1.142747
 3                    1.452347                    1.142747
 4                    1.452347                    1.142747
 5                    1.452347                    1.142747
 6                    0.177644                    1.142747
 7                    1.452347                    1.142747
 8                   -0.776143                    1.142747
 9                    1.452347                    1.142747

    percentage_reached_month_3  ... month_posted_February  \
 0                    0.996033  ...                 False
 1                    0.996033  ...                 False
 2                    0.996033  ...                 False
 3                    0.996033  ...                 False
 4                    0.996033  ...                 False
 5                    0.996033  ...                 False
 6                    0.996033  ...                 False
 7                    0.996033  ...                 False
 8                    0.996033  ...                 False
 9                    0.996033  ...                 False

    month_posted_January  month_posted_July  month_posted_June  \
 0                 False              False              False
 1                 False              False              False
 2                 False               True              False
 3                 False               True              False
 4                 False               True              False
 5                 False               True              False
 6                 False               True              False
 7                 False              False              False
 8                 False              False              False
 9                 False               True              False

    month_posted_March  month_posted_May  month_posted_November  \
 0               False             False                  False
 1               False             False                  False
 2               False             False                  False
 3               False             False                  False
 4               False             False                  False
 5               False             False                  False
 6               False             False                  False
 7               False             False                  False
 8               False             False                  False
 9               False             False                  False

    month_posted_October  month_posted_September  months_since_posted
 0                  True                   False                    3
 1                 False                    True                    3
 2                 False                   False                    5
 3                 False                   False                    5
 4                 False                   False                    5
 5                 False                   False                    5
 6                 False                   False                    5
 7                 False                    True                    3
 8                 False                    True                    3
 9                 False                   False                    5

 [10 rows x 67 columns],
 ('logistic_regression',
  'low'):                           projectid date_posted  \
 0  ec359f64bf3ec063c2b3442a4c2ee52c  2013-09-09
 1  cb09d5c2747675fd1a0d9256665634ae  2013-09-11
 2  b108a17ac554632bc10e9f10a0032bc0  2013-09-30

    probability_fully_funded_logistic_regression  \
 0                                           1.0
 1                                           1.0
 2                                           1.0

    total_price_excluding_optional_support  students_reached  \
 0                                0.182774         -0.034984
 1                               -0.012138         -0.017345
 2                               -0.017994          0.017113

    total_projects_in_city  total_projects_in_state  \
 0               -0.627791                -0.733618
 1               -0.636614                 1.760114
 2               -0.626672                -0.870838

    percentage_reached_month_1  percentage_reached_month_2  \
 0                   -0.776143                    3.044825
 1                    1.452347                    1.142747
 2                    1.452347                    1.142747

    percentage_reached_month_3  ... month_posted_February  \
 0                    2.886492  ...                 False
 1                    0.996033  ...                 False
 2                    0.996033  ...                 False

    month_posted_January  month_posted_July  month_posted_June  \
 0                 False              False              False
 1                 False              False              False
 2                 False              False              False

    month_posted_March  month_posted_May  month_posted_November  \
 0               False             False                  False
 1               False             False                  False
 2               False             False                  False

    month_posted_October  month_posted_September  months_since_posted
 0                 False                    True                    3
 1                 False                    True                    3
 2                 False                    True                    3

 [3 rows x 67 columns],
 ('logistic_regression',
  'high'):                           projectid date_posted  \
 0  23093b3e4e0749f365c5637fd19258fa  2013-09-07
 1  e891154767af72f5889a4ee9c269ccfc  2013-09-03
 2  c2be8cea38597dccac6cc66f61cbe219  2013-09-13
 3  b98d990d3f8a8059852296f34bc6754f  2013-09-18
 4  2c755e2c7b3ac84a83e12c05b0c45cb2  2013-09-18
 5  8bcfd367af337e9088f5b0de720ca36b  2013-09-09
 6  aadfbc4556e1696ba544f912ad90bbc7  2013-09-11
 7  38f83be57ec9d2c3909411d75eeec2b4  2013-09-11
 8  7b65f46e12488e12244c821a9283f2e0  2013-09-30
 9  0bd1420971b22fc70057e5462dc9f093  2013-09-24

    probability_fully_funded_logistic_regression  \
 0                                           1.0
 1                                           1.0
 2                                           1.0
 3                                           1.0
 4                                           1.0
 5                                           1.0
 6                                           1.0
 7                                           1.0
 8                                           1.0
 9                                           1.0

    total_price_excluding_optional_support  students_reached  \
 0                                0.081573         -0.011602
 1                                0.087149         -0.022677
 2                               -0.018399         -0.027600
 3                               -0.025073         -0.032933
 4                               -0.023198         -0.032933
 5                               -0.024697         -0.030061
 6                               -0.013450         -0.019806
 7                               -0.011951         -0.019806
 8                               -0.002203         -0.028010
 9                               -0.019449         -0.025959

    total_projects_in_city  total_projects_in_state  \
 0               -0.631767                 1.760114
 1               -0.632637                 1.760114
 2                2.893121                -0.176461
 3                1.627069                 0.566334
 4                1.627069                 0.566334
 5                1.890146                 0.566334
 6                0.935140                 0.566334
 7                0.935140                 0.566334
 8                0.935140                 0.566334
 9                1.627069                 0.566334

    percentage_reached_month_1  percentage_reached_month_2  \
 0                    3.402487                    2.991558
 1                   -0.776143                    2.910741
 2                    1.452347                    1.142747
 3                    1.452347                    1.142747
 4                    1.452347                    1.142747
 5                    1.452347                    1.142747
 6                    1.452347                    1.142747
 7                    1.452347                    1.142747
 8                    1.452347                    1.142747
 9                    1.452347                    1.142747

    percentage_reached_month_3  ... month_posted_February  \
 0                    2.833550  ...                 False
 1                    2.753228  ...                 False
 2                    0.996033  ...                 False
 3                    0.996033  ...                 False
 4                    0.996033  ...                 False
 5                    0.996033  ...                 False
 6                    0.996033  ...                 False
 7                    0.996033  ...                 False
 8                    0.996033  ...                 False
 9                    0.996033  ...                 False

    month_posted_January  month_posted_July  month_posted_June  \
 0                 False              False              False
 1                 False              False              False
 2                 False              False              False
 3                 False              False              False
 4                 False              False              False
 5                 False              False              False
 6                 False              False              False
 7                 False              False              False
 8                 False              False              False
 9                 False              False              False

    month_posted_March  month_posted_May  month_posted_November  \
 0               False             False                  False
 1               False             False                  False
 2               False             False                  False
 3               False             False                  False
 4               False             False                  False
 5               False             False                  False
 6               False             False                  False
 7               False             False                  False
 8               False             False                  False
 9               False             False                  False

    month_posted_October  month_posted_September  months_since_posted
 0                 False                    True                    3
 1                 False                    True                    3
 2                 False                    True                    3
 3                 False                    True                    3
 4                 False                    True                    3
 5                 False                    True                    3
 6                 False                    True                    3
 7                 False                    True                    3
 8                 False                    True                    3
 9                 False                    True                    3

 [10 rows x 67 columns]}

In [14]:
stem_subjects = ['primary_focus_subject_Applied Sciences',
                 'primary_focus_subject_Health & Life Science',
                 'primary_focus_subject_Environmental Science',
                 'primary_focus_subject_Mathematics']

def classify_stem(row):
    # Check if any STEM subject column is 1
    return 'STEM' if row[stem_subjects].sum() > 0 else 'Non-STEM'

test_df['STEM_category'] = test_df.apply(classify_stem, axis=1)

In [15]:
for (model_type, pov_level), df in recommendations.items():
    df = df.drop_duplicates().reset_index(drop=True)  # Drop any existing duplicates
    df = df.reset_index(drop=True)
    recommendations[(model_type, pov_level)] = df.assign(model_type=model_type, pov_level=pov_level)

# Concatenate all DataFrames from recommendations
all_recs = pd.concat(recommendations.values(), ignore_index=True)

In [17]:
all_recs.columns

Index(['projectid', 'date_posted', 'probability_fully_funded_random_forest',
       'total_price_excluding_optional_support', 'students_reached',
       'fully_funded', 'date_posted_test', 'total_projects_in_city',
       'total_projects_in_state', 'percentage_reached_month_1',
       'percentage_reached_month_2', 'percentage_reached_month_3',
       'poverty_level_high poverty', 'poverty_level_highest poverty',
       'poverty_level_low poverty', 'poverty_level_moderate poverty',
       'school_metro_rural', 'school_metro_suburban', 'school_metro_urban',
       'grade_level_Grades 3-5', 'grade_level_Grades 6-8',
       'grade_level_Grades 9-12', 'grade_level_Grades PreK-2',
       'primary_focus_subject_Applied Sciences',
       'primary_focus_subject_Character Education',
       'primary_focus_subject_Civics & Government',
       'primary_focus_subject_College & Career Prep',
       'primary_focus_subject_Community Service', 'primary_focus_subject_ESL',
       'primary_focus_subject_Early Development',
       'primary_focus_subject_Economics',
       'primary_focus_subject_Environmental Science',
       'primary_focus_subject_Extracurricular',
       'primary_focus_subject_Foreign Languages',
       'primary_focus_subject_Gym & Fitness',
       'primary_focus_subject_Health & Life Science',
       'primary_focus_subject_Health & Wellness',
       'primary_focus_subject_History & Geography',
       'primary_focus_subject_Literacy',
       'primary_focus_subject_Literature & Writing',
       'primary_focus_subject_Mathematics', 'primary_focus_subject_Music',
       'primary_focus_subject_Nutrition', 'primary_focus_subject_Other',
       'primary_focus_subject_Parent Involvement',
       'primary_focus_subject_Performing Arts',
       'primary_focus_subject_Social Sciences',
       'primary_focus_subject_Special Needs', 'primary_focus_subject_Sports',
       'primary_focus_subject_Visual Arts', 'resource_type_Books',
       'resource_type_Other', 'resource_type_Supplies',
       'resource_type_Technology', 'resource_type_Trips',
       'resource_type_Visitors', 'month_posted_April', 'month_posted_August',
       'month_posted_December', 'month_posted_February',
       'month_posted_January', 'month_posted_July', 'month_posted_June',
       'month_posted_March', 'month_posted_May', 'month_posted_November',
       'month_posted_October', 'month_posted_September', 'months_since_posted',
       'model_type', 'pov_level',
       'probability_fully_funded_logistic_regression'],
      dtype='object')

In [18]:
all_recs

,projectid,date_posted,probability_fully_funded_random_forest,total_price_excluding_optional_support,students_reached,fully_funded,date_posted_test,total_projects_in_city,total_projects_in_state,percentage_reached_month_1,...,month_posted_June,month_posted_March,month_posted_May,month_posted_November,month_posted_October,month_posted_September,months_since_posted,model_type,pov_level,probability_fully_funded_logistic_regression
0,e94a5f08bb09a5c745edc4860b0d85ac,2013-01-01,1.0,752.10,30.0,1.0,2013-01-01,392,126242,100.000000,...,False,False,False,False,False,False,12,random_forest,low,NaN
1,d97caf8b7243ba9128cc0a7aacdf9780,2013-08-30,1.0,255.22,160.0,1.0,2013-08-30,131,126242,100.000000,...,False,False,False,False,False,False,4,random_forest,low,NaN
2,efd84a1f24856df0431a469a3abf4664,2013-08-25,1.0,450.50,23.0,1.0,2013-08-25,114,7021,100.000000,...,False,False,False,False,False,False,4,random_forest,low,NaN
3,0c61d6de55e1ec14bcf76540c132fee7,2013-10-02,1.0,431.14,23.0,1.0,2013-10-02,1965,10716,0.000000,...,False,False,False,False,True,False,3,random_forest,moderate,NaN
4,b313d50d7e4448569f988061630cb539,2013-04-14,1.0,378.53,35.0,1.0,2013-04-14,357,126242,100.000000,...,False,False,False,False,False,False,8,random_forest,moderate,NaN
5,b7bf7820c5110ee7db3949b51a5a9c7d,2013-08-29,1.0,426.35,160.0,1.0,2013-08-29,11,126242,100.000000,...,False,False,False,False,False,False,4,random_forest,moderate,NaN
6,88f263f1cd657bccce254ffc0b79df4d,2013-01-01,1.0,868.02,28.0,1.0,2013-01-01,102,126242,100.000000,...,False,False,False,False,False,False,12,random_forest,high,NaN
7,4ebd0837defce812ff9d312c3f78db33,2013-08-04,1.0,542.62,25.0,1.0,2013-08-04,1428,43478,100.000000,...,False,False,False,False,False,False,4,random_forest,high,NaN
8,3fe2b20e3ab2c4f00d20a217329f2dc3,2013-08-04,1.0,156.05,25.0,1.0,2013-08-04,943,10469,100.000000,...,False,False,False,False,False,False,4,random_forest,high,NaN
9,cc861ce787eb2377f5525755c8d2f159,2013-08-04,1.0,224.29,23.0,1.0,2013-08-04,98,18615,0.000000,...,False,False,False,False,False,False,4,random_forest,high,NaN
10,42acb52f680b26dd5c6e4dd8bb71b056,2013-08-04,1.0,164.26,18.0,1.0,2013-08-04,226,30605,100.000000,...,False,False,False,False,False,False,4,random_forest,high,NaN
11,f2c1c02e91f7ea8085102d21e1b71a5a,2013-08-04,1.0,314.50,450.0,1.0,2013-08-04,2082,1605,100.000000,...,False,False,False,False,False,False,4,random_forest,high,NaN
12,d150e9f7a2a50191f0878d1ecb617a80,2013-08-04,1.0,147.23,150.0,1.0,2013-08-04,76,30605,100.000000,...,False,False,False,False,False,False,4,random_forest,high,NaN
13,ac107e18e3fb7cb38f814eea36adc807,2013-08-04,1.0,180.65,28.0,1.0,2013-08-04,343,10469,100.000000,...,False,False,False,False,False,False,4,random_forest,high,NaN
14,5a78acfb85abc7975b982fb9c3f2448b,2013-08-04,1.0,384.55,30.0,1.0,2013-08-04,73,12330,100.000000,...,False,False,False,False,False,False,4,random_forest,high,NaN
15,018441b047995a18ea631b6bedda34e8,2013-08-04,1.0,156.14,252.0,1.0,2013-08-04,22097,126242,100.000000,...,False,False,False,False,False,False,4,random_forest,high,NaN
16,a4e0b968275daae146f6e77e2afef570,2013-07-01,1.0,151.42,82.0,1.0,2013-07-01,137,5770,100.000000,...,False,False,False,False,False,False,6,random_forest,highest,NaN
17,763995355b81f37440658222ded8fec0,2013-07-12,1.0,293.98,27.0,1.0,2013-07-12,2945,9837,0.000000,...,False,False,False,False,False,False,5,random_forest,highest,NaN
18,2c5be6788bdbbc7111d9ccb3a0b059b3,2013-07-12,1.0,378.77,20.0,1.0,2013-07-12,7134,126242,100.000000,...,False,False,False,False,False,False,5,random_forest,highest,NaN
19,27207c2bee2123b7d22c4f4469382e30,2013-07-12,1.0,438.41,115.0,1.0,2013-07-12,4234,39661,28.455099,...,False,False,False,False,False,False,5,random_forest,highest,NaN
20,2bd8e0c0da513dec9548b01cd91ef131,2013-07-12,1.0,224.85,24.0,1.0,2013-07-12,396,30605,100.000000,...,False,False,False,False,False,False,5,random_forest,highest,NaN
21,b1a21c0790ed71bbd0c6eca092822dea,2013-07-12,1.0,169.70,22.0,1.0,2013-07-12,6290,9555,0.000000,...,False,False,False,False,False,False,5,random_forest,highest,NaN
22,0e8238b5415e9a107abe31f563f552eb,2013-07-12,1.0,371.79,30.0,1.0,2013-07-12,28435,40167,100.000000,...,False,False,False,False,False,False,5,random_forest,highest,NaN
23,dcdb7df37032e8cf53ef61fcbefef1f5,2013-09-17,1.0,835.74,93.0,1.0,2013-09-17,104,7027,100.000000,...,False,False,False,False,False,True,3,random_forest,highest,NaN
24,dde9baebffc928f3c5f801b434ec51c4,2013-07-12,1.0,195.09,25.0,1.0,2013-07-12,3569,10716,13.070890,...,False,False,False,False,False,False,5,random_forest,highest,NaN
25,085fa227621772806f65b8bad5393e95,2013-07-12,1.0,194.69,140.0,1.0,2013-07-12,4044,12330,100.000000,...,False,False,False,False,False,False,5,random_forest,highest,NaN
26,ed68a7d94ba1e15394dbb1716b837cc9,2013-05-12,NaN,497.46,502.0,1.0,2013-05-12,7,40167,89.705705,...,False,False,True,False,False,False,7,logistic_regression,low,0.999907
27,3effd7b81b58c42d4b549791acc121f4,2013-03-21,NaN,317.52,140.0,1.0,2013-03-21,1156,126242,162.988158,...,False,True,False,False,False,False,9,logistic_regression,low,0.999235
28,dd12883585f2c992d9568001a6ce9c64,2013-04-12,NaN,231.98,15.0,1.0,2013-04-12,41,7728,0.000000,...,False,False,False,False,False,False,8,logistic_regression,low,0.997200
29,a0e2c86d61c3154e8c9f1fde77479016,2013-03-26,NaN,696.59,30.0,1.0,2013-03-26,2346,126242,186.614795,...,False,True,False,False,False,False,9,logistic_regression,moderate,0.999954
30,4c54491526dd79c04e1f5657ac5eed10,2013-07-30,NaN,1189.02,16.0,1.0,2013-07-30,24,9403,185.784932,...,False,False,False,False,False,False,5,logistic_regression,moderate,0.999877
31,5108480f02d6ca4dd6208d05ac5a7c91,2013-02-18,NaN,587.48,23.0,1.0,2013-02-18,20,7027,136.171444,...,False,False,False,False,False,False,10,logistic_regression,moderate,0.999322
32,9069d0603e76839c684dc6a1c138d639,2013-07-06,NaN,250.56,48.0,1.0,2013-07-06,87,30605,174.293582,...,False,False,False,False,False,False,5,logistic_regression,high,0.999955
33,a80f26f1e5916b8d9dcb6bf36c5fee79,2013-04-25,NaN,549.49,30.0,1.0,2013-04-25,8215,43478,177.344447,...,False,False,False,False,False,False,8,logistic_regression,high,0.999938
34,504e1ec5da6aae62327e91989f50aa3c,2013-01-20,NaN,159.77,24.0,1.0,2013-01-20,84,12330,153.201477,...,False,False,False,False,False,False,11,logistic_regression,high,0.999871
35,cf5c360adec5160846578246f7e65e5a,2013-04-12,NaN,727.13,25.0,1.0,2013-04-12,32,1383,170.138765,...,False,False,False,False,False,False,8,logistic_regression,high,0.999861
36,00229f2003fd383c6ced36bc47761845,2013-08-30,NaN,1547.42,128.0,1.0,2013-08-30,279,126242,193.381241,...,False,False,False,False,False,False,4,logistic_regression,high,0.999756
37,10b65bc84faeab717d892ea2e0f7a9bd,2013-08-09,NaN,1583.34,150.0,1.0,2013-08-09,166,126242,191.262774,...,False,False,False,False,False,False,4,logistic_regression,high,0.999698
38,23093b3e4e0749f365c5637fd19258fa,2013-09-07,NaN,1651.25,70.0,1.0,2013-09-07,70,126242,187.509463,...,False,False,False,False,False,True,3,logistic_regression,high,0.999587
39,466c5a055c749e521c39c93a2f3d109d,2013-04-13,NaN,154.24,23.0,1.0,2013-04-13,329,2127,0.000000,...,False,False,False,False,False,False,8,logistic_regression,high,0.999578
40,c22cf7e67f9ed001dcf1ccc687938aee,2013-07-13,NaN,1697.09,15.0,1.0,2013-07-13,32,126242,185.145749,...,False,False,False,False,False,False,5,logistic_regression,high,0.999496
41,10d40cb99f042abce156be2b62ea3395,2013-07-20,NaN,1725.66,30.0,1.0,2013-07-20,32,126242,183.736078,...,False,False,False,False,False,False,5,logistic_regression,high,0.999413
42,2be31e8ed070f2c71021cb7cd28f669b,2013-02-20,NaN,942.90,21.0,1.0,2013-02-20,8215,43478,221.773253,...,False,False,False,False,False,False,10,logistic_regression,highest,0.999996
43,e891154767af72f5889a4ee9c269ccfc,2013-09-03,NaN,1726.73,43.0,1.0,2013-09-03,63,126242,0.000000,...,False,False,False,False,False,True,3,logistic_regression,highest,0.999884
44,80de6d8194fedd2f27778aa58bb6d724,2013-02-15,NaN,155.88,75.0,1.0,2013-02-15,28435,40167,140.896844,...,False,False,False,False,False,False,10,logistic_regression,highest,0.999807
45,11de69d170d074e3e5ec043a5ce73fe3,2013-08-27,NaN,1699.93,100.0,1.0,2013-08-27,22097,126242,185.003500,...,False,False,False,False,False,False,4,logistic_regression,highest,0.999667
46,815395153f4552eefefeecb873b06398,2013-07-16,NaN,1684.43,36.0,1.0,2013-07-16,236,126242,185.785696,...,False,False,False,False,False,False,5,logistic_regression,highest,0.999502
47,81657e229e1dfa772abeee77b7693dc6,2013-08-04,NaN,135.78,60.0,1.0,2013-08-04,28435,40167,0.000000,...,False,False,False,False,False,False,4,logistic_regression,highest,0.999144
48,6ecdac4a3ab7aa0f0f1641001f5d6401,2013-06-08,NaN,142.15,30.0,1.0,2013-06-08,28435,40167,0.000000,...,True,False,False,False,False,False,6,logistic_regression,highest,0.999135
49,c9012494f0871fbe304cd4928189e2ea,2013-04-08,NaN,149.73,20.0,1.0,2013-04-08,28435,40167,0.000000,...,False,False,False,False,False,False,8,logistic_regression,highest,0.999123
50,82af25a04bad1eed9a07f01c42881cc9,2013-07-29,NaN,160.04,78.0,1.0,2013-07-29,28435,40167,0.000000,...,False,False,False,False,False,False,5,logistic_regression,highest,0.999108
51,a35d96eb60c1cb6eabecdd91709f4fb1,2013-08-31,NaN,141.59,26.0,1.0,2013-08-31,28435,40167,3.601949,...,False,False,False,False,False,False,4,logistic_regression,highest,0.999108