In [1]:
import pandas as pd
import joblib
import json
from IPython.display import display, Markdown

def load_config(config_file="../config.json"):
    """Load configuration from a JSON file."""
    with open(config_file, 'r') as file:
        config = json.load(file)
    return config

In [2]:
test_df = pd.read_csv('../outputs/test_df.csv')

In [3]:
test_df

,projectid,total_price_excluding_optional_support,students_reached,fully_funded,date_posted,total_projects_in_city,total_projects_in_state,percentage_reached_month_1,percentage_reached_month_2,percentage_reached_month_3,...,month_posted_December,month_posted_February,month_posted_January,month_posted_July,month_posted_June,month_posted_March,month_posted_May,month_posted_November,month_posted_October,month_posted_September
0,a11d5c86692ef20e9f702094504bb5db,387.13,34.0,1.0,2013-01-01,290,126242,0.000000,0.000000,0.000000,...,False,False,True,False,False,False,False,False,False,False
1,8bdc6b4cfc850f6f7cc3963c48ba454b,1045.00,120.0,0.0,2013-01-01,172,2127,8.133971,8.133971,8.133971,...,False,False,True,False,False,False,False,False,False,False
2,88f263f1cd657bccce254ffc0b79df4d,868.02,28.0,1.0,2013-01-01,102,126242,100.000000,100.000000,100.000000,...,False,False,True,False,False,False,False,False,False,False
3,a8a6e08b6ae7ab1a88c16ba82ac8e9da,515.00,96.0,1.0,2013-01-01,206,14853,100.000000,100.000000,100.000000,...,False,False,True,False,False,False,False,False,False,False
4,be21151602e4fd47dd4012114fd519c6,238.56,25.0,1.0,2013-01-01,337,18615,17.815225,100.000000,100.000000,...,False,False,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114032,a0e839f24645e3d6dcbd327f8441b043,567.18,60.0,1.0,2013-12-31,20364,73182,53.289961,100.000000,100.000000,...,True,False,False,False,False,False,False,False,False,False
114033,f820ef3537f4445b0716244fae36f763,277.37,30.0,0.0,2013-12-31,55,2030,0.000000,0.000000,0.000000,...,True,False,False,False,False,False,False,False,False,False
114034,95ee208a51831edffa7cc2e0aa3e83cd,202.34,98.0,1.0,2013-12-31,2945,9837,100.000000,100.000000,100.000000,...,True,False,False,False,False,False,False,False,False,False
114035,1aa5e1d739a40c2763da1a0bb0f0f335,177.18,23.0,1.0,2013-12-31,855,17299,100.000000,100.000000,100.000000,...,True,False,False,False,False,False,False,False,False,False
114036,62526d85d2a1818432d03d600969e99c,444.36,7.0,1.0,2013-12-31,146,40167,24.867225,43.995859,100.000000,...,True,False,False,False,False,False,False,False,False,False

In [4]:
test_df.columns

Index(['projectid', 'total_price_excluding_optional_support',
       'students_reached', 'fully_funded', 'date_posted',
       'total_projects_in_city', 'total_projects_in_state',
       'percentage_reached_month_1', 'percentage_reached_month_2',
       'percentage_reached_month_3', 'poverty_level_high poverty',
       'poverty_level_highest poverty', 'poverty_level_low poverty',
       'poverty_level_moderate poverty', 'school_metro_rural',
       'school_metro_suburban', 'school_metro_urban', 'grade_level_Grades 3-5',
       'grade_level_Grades 6-8', 'grade_level_Grades 9-12',
       'grade_level_Grades PreK-2', 'primary_focus_subject_Applied Sciences',
       'primary_focus_subject_Character Education',
       'primary_focus_subject_Civics & Government',
       'primary_focus_subject_College & Career Prep',
       'primary_focus_subject_Community Service', 'primary_focus_subject_ESL',
       'primary_focus_subject_Early Development',
       'primary_focus_subject_Economics',
       'primary_focus_subject_Environmental Science',
       'primary_focus_subject_Extracurricular',
       'primary_focus_subject_Foreign Languages',
       'primary_focus_subject_Gym & Fitness',
       'primary_focus_subject_Health & Life Science',
       'primary_focus_subject_Health & Wellness',
       'primary_focus_subject_History & Geography',
       'primary_focus_subject_Literacy',
       'primary_focus_subject_Literature & Writing',
       'primary_focus_subject_Mathematics', 'primary_focus_subject_Music',
       'primary_focus_subject_Nutrition', 'primary_focus_subject_Other',
       'primary_focus_subject_Parent Involvement',
       'primary_focus_subject_Performing Arts',
       'primary_focus_subject_Social Sciences',
       'primary_focus_subject_Special Needs', 'primary_focus_subject_Sports',
       'primary_focus_subject_Visual Arts', 'resource_type_Books',
       'resource_type_Other', 'resource_type_Supplies',
       'resource_type_Technology', 'resource_type_Trips',
       'resource_type_Visitors', 'month_posted_April', 'month_posted_August',
       'month_posted_December', 'month_posted_February',
       'month_posted_January', 'month_posted_July', 'month_posted_June',
       'month_posted_March', 'month_posted_May', 'month_posted_November',
       'month_posted_October', 'month_posted_September'],
      dtype='object')

In [5]:
test_df['date_posted'] = pd.to_datetime(test_df['date_posted'])

In [6]:
# Set max_date to filter projects posted for at least 3 months
fixed_max_date = pd.to_datetime('2013-12-31')
test_df['months_since_posted'] = ((fixed_max_date - test_df['date_posted']) / pd.Timedelta(days=30)).astype(int)
eligible_projects = test_df[test_df['months_since_posted'] >= 3].copy()

In [7]:
test_df.columns

Index(['projectid', 'total_price_excluding_optional_support',
       'students_reached', 'fully_funded', 'date_posted',
       'total_projects_in_city', 'total_projects_in_state',
       'percentage_reached_month_1', 'percentage_reached_month_2',
       'percentage_reached_month_3', 'poverty_level_high poverty',
       'poverty_level_highest poverty', 'poverty_level_low poverty',
       'poverty_level_moderate poverty', 'school_metro_rural',
       'school_metro_suburban', 'school_metro_urban', 'grade_level_Grades 3-5',
       'grade_level_Grades 6-8', 'grade_level_Grades 9-12',
       'grade_level_Grades PreK-2', 'primary_focus_subject_Applied Sciences',
       'primary_focus_subject_Character Education',
       'primary_focus_subject_Civics & Government',
       'primary_focus_subject_College & Career Prep',
       'primary_focus_subject_Community Service', 'primary_focus_subject_ESL',
       'primary_focus_subject_Early Development',
       'primary_focus_subject_Economics',
       'primary_focus_subject_Environmental Science',
       'primary_focus_subject_Extracurricular',
       'primary_focus_subject_Foreign Languages',
       'primary_focus_subject_Gym & Fitness',
       'primary_focus_subject_Health & Life Science',
       'primary_focus_subject_Health & Wellness',
       'primary_focus_subject_History & Geography',
       'primary_focus_subject_Literacy',
       'primary_focus_subject_Literature & Writing',
       'primary_focus_subject_Mathematics', 'primary_focus_subject_Music',
       'primary_focus_subject_Nutrition', 'primary_focus_subject_Other',
       'primary_focus_subject_Parent Involvement',
       'primary_focus_subject_Performing Arts',
       'primary_focus_subject_Social Sciences',
       'primary_focus_subject_Special Needs', 'primary_focus_subject_Sports',
       'primary_focus_subject_Visual Arts', 'resource_type_Books',
       'resource_type_Other', 'resource_type_Supplies',
       'resource_type_Technology', 'resource_type_Trips',
       'resource_type_Visitors', 'month_posted_April', 'month_posted_August',
       'month_posted_December', 'month_posted_February',
       'month_posted_January', 'month_posted_July', 'month_posted_June',
       'month_posted_March', 'month_posted_May', 'month_posted_November',
       'month_posted_October', 'month_posted_September',
       'months_since_posted'],
      dtype='object')

In [8]:
config = load_config()
poverty_levels = ["low", "moderate", "high", "highest"]
models = ["random_forest", "logistic_regression"]
recommendations = {}

In [9]:
recommendations = {}

poverty_levels = ["low", "moderate", "high", "highest"]
models = ["random_forest", "logistic_regression"]

for model_type in models:
    for pov_level in poverty_levels:
        pov_column = f"poverty_level_{pov_level} poverty"
        pov_projects = eligible_projects[eligible_projects[pov_column] == 1].copy()
        
        # Load the classifier
        classifier = joblib.load(f"../outputs/{model_type}_{pov_level}_poverty.pkl")
        
        X_test_filtered = pov_projects.drop(columns=['fully_funded', 'date_posted', 'months_since_posted', 'projectid'], errors='ignore')
        X_test_filtered = X_test_filtered.reindex(columns=classifier.feature_names_in_, fill_value=0)
        
        pov_projects[f'probability_fully_funded_{model_type}'] = classifier.predict_proba(X_test_filtered)[:, 1]
        
        pov_projects_sorted = pov_projects.sort_values(by=f'probability_fully_funded_{model_type}', ascending=False)

        if pov_level in ["high", "highest"]:
            top_recommendations = pov_projects_sorted.head(10)
        elif pov_level in ["low", "moderate"]:
            top_recommendations = pov_projects_sorted.head(3)

        recommendations[(model_type, pov_level)] = top_recommendations[['projectid', 'date_posted', f'probability_fully_funded_{model_type}']]

In [10]:
list(recommendations.keys())

[('random_forest', 'low'),
 ('random_forest', 'moderate'),
 ('random_forest', 'high'),
 ('random_forest', 'highest'),
 ('logistic_regression', 'low'),
 ('logistic_regression', 'moderate'),
 ('logistic_regression', 'high'),
 ('logistic_regression', 'highest')]

In [11]:
for key, recs in recommendations.items():
    model_type, pov_level = key  # Unpack manually
    # print(f"\nTop recommendations for {model_type.capitalize()} model, poverty level '{pov_level}':")
    display(key, recs)

('random_forest', 'low')

,projectid,date_posted,probability_fully_funded_random_forest
76,e94a5f08bb09a5c745edc4860b0d85ac,2013-01-01,1.0
57172,d97caf8b7243ba9128cc0a7aacdf9780,2013-08-30,1.0
55117,efd84a1f24856df0431a469a3abf4664,2013-08-25,1.0

('random_forest', 'moderate')

,projectid,date_posted,probability_fully_funded_random_forest
76264,0c61d6de55e1ec14bcf76540c132fee7,2013-10-02,1.0
23694,b313d50d7e4448569f988061630cb539,2013-04-14,1.0
56227,b7bf7820c5110ee7db3949b51a5a9c7d,2013-08-29,1.0

('random_forest', 'high')

,projectid,date_posted,probability_fully_funded_random_forest
2,88f263f1cd657bccce254ffc0b79df4d,2013-01-01,1.0
45721,4ebd0837defce812ff9d312c3f78db33,2013-08-04,1.0
45631,3fe2b20e3ab2c4f00d20a217329f2dc3,2013-08-04,1.0
45633,cc861ce787eb2377f5525755c8d2f159,2013-08-04,1.0
45652,42acb52f680b26dd5c6e4dd8bb71b056,2013-08-04,1.0
45672,f2c1c02e91f7ea8085102d21e1b71a5a,2013-08-04,1.0
45679,d150e9f7a2a50191f0878d1ecb617a80,2013-08-04,1.0
45690,ac107e18e3fb7cb38f814eea36adc807,2013-08-04,1.0
45693,5a78acfb85abc7975b982fb9c3f2448b,2013-08-04,1.0
45696,018441b047995a18ea631b6bedda34e8,2013-08-04,1.0

('random_forest', 'highest')

,projectid,date_posted,probability_fully_funded_random_forest
37745,a4e0b968275daae146f6e77e2afef570,2013-07-01,1.0
39928,763995355b81f37440658222ded8fec0,2013-07-12,1.0
39922,2c5be6788bdbbc7111d9ccb3a0b059b3,2013-07-12,1.0
39915,27207c2bee2123b7d22c4f4469382e30,2013-07-12,1.0
39913,2bd8e0c0da513dec9548b01cd91ef131,2013-07-12,1.0
39912,b1a21c0790ed71bbd0c6eca092822dea,2013-07-12,1.0
39911,0e8238b5415e9a107abe31f563f552eb,2013-07-12,1.0
68289,dcdb7df37032e8cf53ef61fcbefef1f5,2013-09-17,1.0
39897,dde9baebffc928f3c5f801b434ec51c4,2013-07-12,1.0
39887,085fa227621772806f65b8bad5393e95,2013-07-12,1.0

('logistic_regression', 'low')

,projectid,date_posted,probability_fully_funded_logistic_regression
28622,ed68a7d94ba1e15394dbb1716b837cc9,2013-05-12,0.999907
18947,3effd7b81b58c42d4b549791acc121f4,2013-03-21,0.999235
22760,dd12883585f2c992d9568001a6ce9c64,2013-04-12,0.997200

('logistic_regression', 'moderate')

,projectid,date_posted,probability_fully_funded_logistic_regression
19898,a0e2c86d61c3154e8c9f1fde77479016,2013-03-26,0.999954
44613,4c54491526dd79c04e1f5657ac5eed10,2013-07-30,0.999877
12685,5108480f02d6ca4dd6208d05ac5a7c91,2013-02-18,0.999322

('logistic_regression', 'high')

,projectid,date_posted,probability_fully_funded_logistic_regression
38828,9069d0603e76839c684dc6a1c138d639,2013-07-06,0.999955
25188,a80f26f1e5916b8d9dcb6bf36c5fee79,2013-04-25,0.999938
4167,504e1ec5da6aae62327e91989f50aa3c,2013-01-20,0.999871
22716,cf5c360adec5160846578246f7e65e5a,2013-04-12,0.999861
57062,00229f2003fd383c6ced36bc47761845,2013-08-30,0.999756
47462,10b65bc84faeab717d892ea2e0f7a9bd,2013-08-09,0.999698
62193,23093b3e4e0749f365c5637fd19258fa,2013-09-07,0.999587
23265,466c5a055c749e521c39c93a2f3d109d,2013-04-13,0.999578
40098,c22cf7e67f9ed001dcf1ccc687938aee,2013-07-13,0.999496
41722,10d40cb99f042abce156be2b62ea3395,2013-07-20,0.999413

('logistic_regression', 'highest')

,projectid,date_posted,probability_fully_funded_logistic_regression
13059,2be31e8ed070f2c71021cb7cd28f669b,2013-02-20,0.999996
59401,e891154767af72f5889a4ee9c269ccfc,2013-09-03,0.999884
11679,80de6d8194fedd2f27778aa58bb6d724,2013-02-15,0.999807
55716,11de69d170d074e3e5ec043a5ce73fe3,2013-08-27,0.999667
41104,815395153f4552eefefeecb873b06398,2013-07-16,0.999502
45722,81657e229e1dfa772abeee77b7693dc6,2013-08-04,0.999144
33104,6ecdac4a3ab7aa0f0f1641001f5d6401,2013-06-08,0.999135
22096,c9012494f0871fbe304cd4928189e2ea,2013-04-08,0.999123
44436,82af25a04bad1eed9a07f01c42881cc9,2013-07-29,0.999108
57521,a35d96eb60c1cb6eabecdd91709f4fb1,2013-08-31,0.999108

In [12]:
for key, recs in recommendations.items():
    model_type, pov_level = key  # Unpack model type and poverty level
    
    # Sort projects by probability to create a ranking
    recs_sorted = recs.sort_values(f'probability_fully_funded_{model_type}', ascending=False).reset_index(drop=True)
    recs_sorted['rank'] = recs_sorted.index + 1  # Add rank column
    
    # Add model type and poverty level columns
    recs_sorted['model_type'] = model_type.capitalize()
    recs_sorted['poverty_level'] = pov_level.capitalize()
    
    # Select only relevant columns and rename for consistency
    table = recs_sorted[['rank', 'projectid', 'model_type', 'poverty_level', f'probability_fully_funded_{model_type}']]
    table.rename(columns={f'probability_fully_funded_{model_type}': 'probability_fully_funded'}, inplace=True)
    
    # Display table with a header for context
    display(Markdown(f"### {model_type.capitalize()} Model - {pov_level.capitalize()} Poverty Level"))
    display(table)

/var/folders/5m/4tj5fx915fv1z073c22c2q7m0000gn/T/ipykernel_80504/692742374.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table.rename(columns={f'probability_fully_funded_{model_type}': 'probability_fully_funded'}, inplace=True)

### Random_forest Model - Low Poverty Level

,rank,projectid,model_type,poverty_level,probability_fully_funded
0,1,e94a5f08bb09a5c745edc4860b0d85ac,Random_forest,Low,1.0
1,2,d97caf8b7243ba9128cc0a7aacdf9780,Random_forest,Low,1.0
2,3,efd84a1f24856df0431a469a3abf4664,Random_forest,Low,1.0

/var/folders/5m/4tj5fx915fv1z073c22c2q7m0000gn/T/ipykernel_80504/692742374.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table.rename(columns={f'probability_fully_funded_{model_type}': 'probability_fully_funded'}, inplace=True)

### Random_forest Model - Moderate Poverty Level

,rank,projectid,model_type,poverty_level,probability_fully_funded
0,1,0c61d6de55e1ec14bcf76540c132fee7,Random_forest,Moderate,1.0
1,2,b313d50d7e4448569f988061630cb539,Random_forest,Moderate,1.0
2,3,b7bf7820c5110ee7db3949b51a5a9c7d,Random_forest,Moderate,1.0

/var/folders/5m/4tj5fx915fv1z073c22c2q7m0000gn/T/ipykernel_80504/692742374.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table.rename(columns={f'probability_fully_funded_{model_type}': 'probability_fully_funded'}, inplace=True)

### Random_forest Model - High Poverty Level

,rank,projectid,model_type,poverty_level,probability_fully_funded
0,1,88f263f1cd657bccce254ffc0b79df4d,Random_forest,High,1.0
1,2,4ebd0837defce812ff9d312c3f78db33,Random_forest,High,1.0
2,3,3fe2b20e3ab2c4f00d20a217329f2dc3,Random_forest,High,1.0
3,4,cc861ce787eb2377f5525755c8d2f159,Random_forest,High,1.0
4,5,42acb52f680b26dd5c6e4dd8bb71b056,Random_forest,High,1.0
5,6,f2c1c02e91f7ea8085102d21e1b71a5a,Random_forest,High,1.0
6,7,d150e9f7a2a50191f0878d1ecb617a80,Random_forest,High,1.0
7,8,ac107e18e3fb7cb38f814eea36adc807,Random_forest,High,1.0
8,9,5a78acfb85abc7975b982fb9c3f2448b,Random_forest,High,1.0
9,10,018441b047995a18ea631b6bedda34e8,Random_forest,High,1.0

/var/folders/5m/4tj5fx915fv1z073c22c2q7m0000gn/T/ipykernel_80504/692742374.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table.rename(columns={f'probability_fully_funded_{model_type}': 'probability_fully_funded'}, inplace=True)

### Random_forest Model - Highest Poverty Level

,rank,projectid,model_type,poverty_level,probability_fully_funded
0,1,a4e0b968275daae146f6e77e2afef570,Random_forest,Highest,1.0
1,2,763995355b81f37440658222ded8fec0,Random_forest,Highest,1.0
2,3,2c5be6788bdbbc7111d9ccb3a0b059b3,Random_forest,Highest,1.0
3,4,27207c2bee2123b7d22c4f4469382e30,Random_forest,Highest,1.0
4,5,2bd8e0c0da513dec9548b01cd91ef131,Random_forest,Highest,1.0
5,6,b1a21c0790ed71bbd0c6eca092822dea,Random_forest,Highest,1.0
6,7,0e8238b5415e9a107abe31f563f552eb,Random_forest,Highest,1.0
7,8,dcdb7df37032e8cf53ef61fcbefef1f5,Random_forest,Highest,1.0
8,9,dde9baebffc928f3c5f801b434ec51c4,Random_forest,Highest,1.0
9,10,085fa227621772806f65b8bad5393e95,Random_forest,Highest,1.0

/var/folders/5m/4tj5fx915fv1z073c22c2q7m0000gn/T/ipykernel_80504/692742374.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table.rename(columns={f'probability_fully_funded_{model_type}': 'probability_fully_funded'}, inplace=True)

### Logistic_regression Model - Low Poverty Level

,rank,projectid,model_type,poverty_level,probability_fully_funded
0,1,ed68a7d94ba1e15394dbb1716b837cc9,Logistic_regression,Low,0.999907
1,2,3effd7b81b58c42d4b549791acc121f4,Logistic_regression,Low,0.999235
2,3,dd12883585f2c992d9568001a6ce9c64,Logistic_regression,Low,0.997200

/var/folders/5m/4tj5fx915fv1z073c22c2q7m0000gn/T/ipykernel_80504/692742374.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table.rename(columns={f'probability_fully_funded_{model_type}': 'probability_fully_funded'}, inplace=True)

### Logistic_regression Model - Moderate Poverty Level

,rank,projectid,model_type,poverty_level,probability_fully_funded
0,1,a0e2c86d61c3154e8c9f1fde77479016,Logistic_regression,Moderate,0.999954
1,2,4c54491526dd79c04e1f5657ac5eed10,Logistic_regression,Moderate,0.999877
2,3,5108480f02d6ca4dd6208d05ac5a7c91,Logistic_regression,Moderate,0.999322

/var/folders/5m/4tj5fx915fv1z073c22c2q7m0000gn/T/ipykernel_80504/692742374.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table.rename(columns={f'probability_fully_funded_{model_type}': 'probability_fully_funded'}, inplace=True)

### Logistic_regression Model - High Poverty Level

,rank,projectid,model_type,poverty_level,probability_fully_funded
0,1,9069d0603e76839c684dc6a1c138d639,Logistic_regression,High,0.999955
1,2,a80f26f1e5916b8d9dcb6bf36c5fee79,Logistic_regression,High,0.999938
2,3,504e1ec5da6aae62327e91989f50aa3c,Logistic_regression,High,0.999871
3,4,cf5c360adec5160846578246f7e65e5a,Logistic_regression,High,0.999861
4,5,00229f2003fd383c6ced36bc47761845,Logistic_regression,High,0.999756
5,6,10b65bc84faeab717d892ea2e0f7a9bd,Logistic_regression,High,0.999698
6,7,23093b3e4e0749f365c5637fd19258fa,Logistic_regression,High,0.999587
7,8,466c5a055c749e521c39c93a2f3d109d,Logistic_regression,High,0.999578
8,9,c22cf7e67f9ed001dcf1ccc687938aee,Logistic_regression,High,0.999496
9,10,10d40cb99f042abce156be2b62ea3395,Logistic_regression,High,0.999413

/var/folders/5m/4tj5fx915fv1z073c22c2q7m0000gn/T/ipykernel_80504/692742374.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table.rename(columns={f'probability_fully_funded_{model_type}': 'probability_fully_funded'}, inplace=True)

### Logistic_regression Model - Highest Poverty Level

,rank,projectid,model_type,poverty_level,probability_fully_funded
0,1,2be31e8ed070f2c71021cb7cd28f669b,Logistic_regression,Highest,0.999996
1,2,e891154767af72f5889a4ee9c269ccfc,Logistic_regression,Highest,0.999884
2,3,80de6d8194fedd2f27778aa58bb6d724,Logistic_regression,Highest,0.999807
3,4,11de69d170d074e3e5ec043a5ce73fe3,Logistic_regression,Highest,0.999667
4,5,815395153f4552eefefeecb873b06398,Logistic_regression,Highest,0.999502
5,6,81657e229e1dfa772abeee77b7693dc6,Logistic_regression,Highest,0.999144
6,7,6ecdac4a3ab7aa0f0f1641001f5d6401,Logistic_regression,Highest,0.999135
7,8,c9012494f0871fbe304cd4928189e2ea,Logistic_regression,Highest,0.999123
8,9,82af25a04bad1eed9a07f01c42881cc9,Logistic_regression,Highest,0.999108
9,10,a35d96eb60c1cb6eabecdd91709f4fb1,Logistic_regression,Highest,0.999108

In [13]:
for (model_type, pov_level), top_recs in recommendations.items():
    top_recs = top_recs.merge(test_df, on='projectid', how='left', suffixes=('', '_test'))
    recommendations[(model_type, pov_level)] = top_recs
    display(recommendations)

{('random_forest',
  'low'):                           projectid date_posted  \
 0  e94a5f08bb09a5c745edc4860b0d85ac  2013-01-01
 1  d97caf8b7243ba9128cc0a7aacdf9780  2013-08-30
 2  efd84a1f24856df0431a469a3abf4664  2013-08-25

    probability_fully_funded_random_forest  \
 0                                     1.0
 1                                     1.0
 2                                     1.0

    total_price_excluding_optional_support  students_reached  fully_funded  \
 0                                  752.10              30.0           1.0
 1                                  255.22             160.0           1.0
 2                                  450.50              23.0           1.0

   date_posted_test  total_projects_in_city  total_projects_in_state  \
 0       2013-01-01                     392                   126242
 1       2013-08-30                     131                   126242
 2       2013-08-25                     114                     7021

    percentage_reached_month_1  ...  month_posted_February  \
 0                       100.0  ...                  False
 1                       100.0  ...                  False
 2                       100.0  ...                  False

    month_posted_January  month_posted_July  month_posted_June  \
 0                  True              False              False
 1                 False              False              False
 2                 False              False              False

    month_posted_March  month_posted_May  month_posted_November  \
 0               False             False                  False
 1               False             False                  False
 2               False             False                  False

    month_posted_October  month_posted_September  months_since_posted
 0                 False                   False                   12
 1                 False                   False                    4
 2                 False                   False                    4

 [3 rows x 69 columns],
 ('random_forest',
  'moderate'):                               projectid date_posted  \
 76264  0c61d6de55e1ec14bcf76540c132fee7  2013-10-02
 23694  b313d50d7e4448569f988061630cb539  2013-04-14
 56227  b7bf7820c5110ee7db3949b51a5a9c7d  2013-08-29

        probability_fully_funded_random_forest
 76264                                     1.0
 23694                                     1.0
 56227                                     1.0  ,
 ('random_forest',
  'high'):                               projectid date_posted  \
 2      88f263f1cd657bccce254ffc0b79df4d  2013-01-01
 45721  4ebd0837defce812ff9d312c3f78db33  2013-08-04
 45631  3fe2b20e3ab2c4f00d20a217329f2dc3  2013-08-04
 45633  cc861ce787eb2377f5525755c8d2f159  2013-08-04
 45652  42acb52f680b26dd5c6e4dd8bb71b056  2013-08-04
 45672  f2c1c02e91f7ea8085102d21e1b71a5a  2013-08-04
 45679  d150e9f7a2a50191f0878d1ecb617a80  2013-08-04
 45690  ac107e18e3fb7cb38f814eea36adc807  2013-08-04
 45693  5a78acfb85abc7975b982fb9c3f2448b  2013-08-04
 45696  018441b047995a18ea631b6bedda34e8  2013-08-04

        probability_fully_funded_random_forest
 2                                         1.0
 45721                                     1.0
 45631                                     1.0
 45633                                     1.0
 45652                                     1.0
 45672                                     1.0
 45679                                     1.0
 45690                                     1.0
 45693                                     1.0
 45696                                     1.0  ,
 ('random_forest',
  'highest'):                               projectid date_posted  \
 37745  a4e0b968275daae146f6e77e2afef570  2013-07-01
 39928  763995355b81f37440658222ded8fec0  2013-07-12
 39922  2c5be6788bdbbc7111d9ccb3a0b059b3  2013-07-12
 39915  27207c2bee2123b7d22c4f4469382e30  2013-07-12
 39913  2bd8e0c0da513dec9548b01cd91ef131  2013-07-12
 39912  b1a21c0790ed71bbd0c6eca092822dea  2013-07-12
 39911  0e8238b5415e9a107abe31f563f552eb  2013-07-12
 68289  dcdb7df37032e8cf53ef61fcbefef1f5  2013-09-17
 39897  dde9baebffc928f3c5f801b434ec51c4  2013-07-12
 39887  085fa227621772806f65b8bad5393e95  2013-07-12

        probability_fully_funded_random_forest
 37745                                     1.0
 39928                                     1.0
 39922                                     1.0
 39915                                     1.0
 39913                                     1.0
 39912                                     1.0
 39911                                     1.0
 68289                                     1.0
 39897                                     1.0
 39887                                     1.0  ,
 ('logistic_regression',
  'low'):                               projectid date_posted  \
 28622  ed68a7d94ba1e15394dbb1716b837cc9  2013-05-12
 18947  3effd7b81b58c42d4b549791acc121f4  2013-03-21
 22760  dd12883585f2c992d9568001a6ce9c64  2013-04-12

        probability_fully_funded_logistic_regression
 28622                                      0.999907
 18947                                      0.999235
 22760                                      0.997200  ,
 ('logistic_regression',
  'moderate'):                               projectid date_posted  \
 19898  a0e2c86d61c3154e8c9f1fde77479016  2013-03-26
 44613  4c54491526dd79c04e1f5657ac5eed10  2013-07-30
 12685  5108480f02d6ca4dd6208d05ac5a7c91  2013-02-18

        probability_fully_funded_logistic_regression
 19898                                      0.999954
 44613                                      0.999877
 12685                                      0.999322  ,
 ('logistic_regression',
  'high'):                               projectid date_posted  \
 38828  9069d0603e76839c684dc6a1c138d639  2013-07-06
 25188  a80f26f1e5916b8d9dcb6bf36c5fee79  2013-04-25
 4167   504e1ec5da6aae62327e91989f50aa3c  2013-01-20
 22716  cf5c360adec5160846578246f7e65e5a  2013-04-12
 57062  00229f2003fd383c6ced36bc47761845  2013-08-30
 47462  10b65bc84faeab717d892ea2e0f7a9bd  2013-08-09
 62193  23093b3e4e0749f365c5637fd19258fa  2013-09-07
 23265  466c5a055c749e521c39c93a2f3d109d  2013-04-13
 40098  c22cf7e67f9ed001dcf1ccc687938aee  2013-07-13
 41722  10d40cb99f042abce156be2b62ea3395  2013-07-20

        probability_fully_funded_logistic_regression
 38828                                      0.999955
 25188                                      0.999938
 4167                                       0.999871
 22716                                      0.999861
 57062                                      0.999756
 47462                                      0.999698
 62193                                      0.999587
 23265                                      0.999578
 40098                                      0.999496
 41722                                      0.999413  ,
 ('logistic_regression',
  'highest'):                               projectid date_posted  \
 13059  2be31e8ed070f2c71021cb7cd28f669b  2013-02-20
 59401  e891154767af72f5889a4ee9c269ccfc  2013-09-03
 11679  80de6d8194fedd2f27778aa58bb6d724  2013-02-15
 55716  11de69d170d074e3e5ec043a5ce73fe3  2013-08-27
 41104  815395153f4552eefefeecb873b06398  2013-07-16
 45722  81657e229e1dfa772abeee77b7693dc6  2013-08-04
 33104  6ecdac4a3ab7aa0f0f1641001f5d6401  2013-06-08
 22096  c9012494f0871fbe304cd4928189e2ea  2013-04-08
 44436  82af25a04bad1eed9a07f01c42881cc9  2013-07-29
 57521  a35d96eb60c1cb6eabecdd91709f4fb1  2013-08-31

        probability_fully_funded_logistic_regression
 13059                                      0.999996
 59401                                      0.999884
 11679                                      0.999807
 55716                                      0.999667
 41104                                      0.999502
 45722                                      0.999144
 33104                                      0.999135
 22096                                      0.999123
 44436                                      0.999108
 57521                                      0.999108  }

{('random_forest',
  'low'):                           projectid date_posted  \
 0  e94a5f08bb09a5c745edc4860b0d85ac  2013-01-01
 1  d97caf8b7243ba9128cc0a7aacdf9780  2013-08-30
 2  efd84a1f24856df0431a469a3abf4664  2013-08-25

    probability_fully_funded_random_forest  \
 0                                     1.0
 1                                     1.0
 2                                     1.0

    total_price_excluding_optional_support  students_reached  fully_funded  \
 0                                  752.10              30.0           1.0
 1                                  255.22             160.0           1.0
 2                                  450.50              23.0           1.0

   date_posted_test  total_projects_in_city  total_projects_in_state  \
 0       2013-01-01                     392                   126242
 1       2013-08-30                     131                   126242
 2       2013-08-25                     114                     7021

    percentage_reached_month_1  ...  month_posted_February  \
 0                       100.0  ...                  False
 1                       100.0  ...                  False
 2                       100.0  ...                  False

    month_posted_January  month_posted_July  month_posted_June  \
 0                  True              False              False
 1                 False              False              False
 2                 False              False              False

    month_posted_March  month_posted_May  month_posted_November  \
 0               False             False                  False
 1               False             False                  False
 2               False             False                  False

    month_posted_October  month_posted_September  months_since_posted
 0                 False                   False                   12
 1                 False                   False                    4
 2                 False                   False                    4

 [3 rows x 69 columns],
 ('random_forest',
  'moderate'):                           projectid date_posted  \
 0  0c61d6de55e1ec14bcf76540c132fee7  2013-10-02
 1  b313d50d7e4448569f988061630cb539  2013-04-14
 2  b7bf7820c5110ee7db3949b51a5a9c7d  2013-08-29

    probability_fully_funded_random_forest  \
 0                                     1.0
 1                                     1.0
 2                                     1.0

    total_price_excluding_optional_support  students_reached  fully_funded  \
 0                                  431.14              23.0           1.0
 1                                  378.53              35.0           1.0
 2                                  426.35             160.0           1.0

   date_posted_test  total_projects_in_city  total_projects_in_state  \
 0       2013-10-02                    1965                    10716
 1       2013-04-14                     357                   126242
 2       2013-08-29                      11                   126242

    percentage_reached_month_1  ...  month_posted_February  \
 0                         0.0  ...                  False
 1                       100.0  ...                  False
 2                       100.0  ...                  False

    month_posted_January  month_posted_July  month_posted_June  \
 0                 False              False              False
 1                 False              False              False
 2                 False              False              False

    month_posted_March  month_posted_May  month_posted_November  \
 0               False             False                  False
 1               False             False                  False
 2               False             False                  False

    month_posted_October  month_posted_September  months_since_posted
 0                  True                   False                    3
 1                 False                   False                    8
 2                 False                   False                    4

 [3 rows x 69 columns],
 ('random_forest',
  'high'):                               projectid date_posted  \
 2      88f263f1cd657bccce254ffc0b79df4d  2013-01-01
 45721  4ebd0837defce812ff9d312c3f78db33  2013-08-04
 45631  3fe2b20e3ab2c4f00d20a217329f2dc3  2013-08-04
 45633  cc861ce787eb2377f5525755c8d2f159  2013-08-04
 45652  42acb52f680b26dd5c6e4dd8bb71b056  2013-08-04
 45672  f2c1c02e91f7ea8085102d21e1b71a5a  2013-08-04
 45679  d150e9f7a2a50191f0878d1ecb617a80  2013-08-04
 45690  ac107e18e3fb7cb38f814eea36adc807  2013-08-04
 45693  5a78acfb85abc7975b982fb9c3f2448b  2013-08-04
 45696  018441b047995a18ea631b6bedda34e8  2013-08-04

        probability_fully_funded_random_forest
 2                                         1.0
 45721                                     1.0
 45631                                     1.0
 45633                                     1.0
 45652                                     1.0
 45672                                     1.0
 45679                                     1.0
 45690                                     1.0
 45693                                     1.0
 45696                                     1.0  ,
 ('random_forest',
  'highest'):                               projectid date_posted  \
 37745  a4e0b968275daae146f6e77e2afef570  2013-07-01
 39928  763995355b81f37440658222ded8fec0  2013-07-12
 39922  2c5be6788bdbbc7111d9ccb3a0b059b3  2013-07-12
 39915  27207c2bee2123b7d22c4f4469382e30  2013-07-12
 39913  2bd8e0c0da513dec9548b01cd91ef131  2013-07-12
 39912  b1a21c0790ed71bbd0c6eca092822dea  2013-07-12
 39911  0e8238b5415e9a107abe31f563f552eb  2013-07-12
 68289  dcdb7df37032e8cf53ef61fcbefef1f5  2013-09-17
 39897  dde9baebffc928f3c5f801b434ec51c4  2013-07-12
 39887  085fa227621772806f65b8bad5393e95  2013-07-12

        probability_fully_funded_random_forest
 37745                                     1.0
 39928                                     1.0
 39922                                     1.0
 39915                                     1.0
 39913                                     1.0
 39912                                     1.0
 39911                                     1.0
 68289                                     1.0
 39897                                     1.0
 39887                                     1.0  ,
 ('logistic_regression',
  'low'):                               projectid date_posted  \
 28622  ed68a7d94ba1e15394dbb1716b837cc9  2013-05-12
 18947  3effd7b81b58c42d4b549791acc121f4  2013-03-21
 22760  dd12883585f2c992d9568001a6ce9c64  2013-04-12

        probability_fully_funded_logistic_regression
 28622                                      0.999907
 18947                                      0.999235
 22760                                      0.997200  ,
 ('logistic_regression',
  'moderate'):                               projectid date_posted  \
 19898  a0e2c86d61c3154e8c9f1fde77479016  2013-03-26
 44613  4c54491526dd79c04e1f5657ac5eed10  2013-07-30
 12685  5108480f02d6ca4dd6208d05ac5a7c91  2013-02-18

        probability_fully_funded_logistic_regression
 19898                                      0.999954
 44613                                      0.999877
 12685                                      0.999322  ,
 ('logistic_regression',
  'high'):                               projectid date_posted  \
 38828  9069d0603e76839c684dc6a1c138d639  2013-07-06
 25188  a80f26f1e5916b8d9dcb6bf36c5fee79  2013-04-25
 4167   504e1ec5da6aae62327e91989f50aa3c  2013-01-20
 22716  cf5c360adec5160846578246f7e65e5a  2013-04-12
 57062  00229f2003fd383c6ced36bc47761845  2013-08-30
 47462  10b65bc84faeab717d892ea2e0f7a9bd  2013-08-09
 62193  23093b3e4e0749f365c5637fd19258fa  2013-09-07
 23265  466c5a055c749e521c39c93a2f3d109d  2013-04-13
 40098  c22cf7e67f9ed001dcf1ccc687938aee  2013-07-13
 41722  10d40cb99f042abce156be2b62ea3395  2013-07-20

        probability_fully_funded_logistic_regression
 38828                                      0.999955
 25188                                      0.999938
 4167                                       0.999871
 22716                                      0.999861
 57062                                      0.999756
 47462                                      0.999698
 62193                                      0.999587
 23265                                      0.999578
 40098                                      0.999496
 41722                                      0.999413  ,
 ('logistic_regression',
  'highest'):                               projectid date_posted  \
 13059  2be31e8ed070f2c71021cb7cd28f669b  2013-02-20
 59401  e891154767af72f5889a4ee9c269ccfc  2013-09-03
 11679  80de6d8194fedd2f27778aa58bb6d724  2013-02-15
 55716  11de69d170d074e3e5ec043a5ce73fe3  2013-08-27
 41104  815395153f4552eefefeecb873b06398  2013-07-16
 45722  81657e229e1dfa772abeee77b7693dc6  2013-08-04
 33104  6ecdac4a3ab7aa0f0f1641001f5d6401  2013-06-08
 22096  c9012494f0871fbe304cd4928189e2ea  2013-04-08
 44436  82af25a04bad1eed9a07f01c42881cc9  2013-07-29
 57521  a35d96eb60c1cb6eabecdd91709f4fb1  2013-08-31

        probability_fully_funded_logistic_regression
 13059                                      0.999996
 59401                                      0.999884
 11679                                      0.999807
 55716                                      0.999667
 41104                                      0.999502
 45722                                      0.999144
 33104                                      0.999135
 22096                                      0.999123
 44436                                      0.999108
 57521                                      0.999108  }

{('random_forest',
  'low'):                           projectid date_posted  \
 0  e94a5f08bb09a5c745edc4860b0d85ac  2013-01-01
 1  d97caf8b7243ba9128cc0a7aacdf9780  2013-08-30
 2  efd84a1f24856df0431a469a3abf4664  2013-08-25

    probability_fully_funded_random_forest  \
 0                                     1.0
 1                                     1.0
 2                                     1.0

    total_price_excluding_optional_support  students_reached  fully_funded  \
 0                                  752.10              30.0           1.0
 1                                  255.22             160.0           1.0
 2                                  450.50              23.0           1.0

   date_posted_test  total_projects_in_city  total_projects_in_state  \
 0       2013-01-01                     392                   126242
 1       2013-08-30                     131                   126242
 2       2013-08-25                     114                     7021

    percentage_reached_month_1  ...  month_posted_February  \
 0                       100.0  ...                  False
 1                       100.0  ...                  False
 2                       100.0  ...                  False

    month_posted_January  month_posted_July  month_posted_June  \
 0                  True              False              False
 1                 False              False              False
 2                 False              False              False

    month_posted_March  month_posted_May  month_posted_November  \
 0               False             False                  False
 1               False             False                  False
 2               False             False                  False

    month_posted_October  month_posted_September  months_since_posted
 0                 False                   False                   12
 1                 False                   False                    4
 2                 False                   False                    4

 [3 rows x 69 columns],
 ('random_forest',
  'moderate'):                           projectid date_posted  \
 0  0c61d6de55e1ec14bcf76540c132fee7  2013-10-02
 1  b313d50d7e4448569f988061630cb539  2013-04-14
 2  b7bf7820c5110ee7db3949b51a5a9c7d  2013-08-29

    probability_fully_funded_random_forest  \
 0                                     1.0
 1                                     1.0
 2                                     1.0

    total_price_excluding_optional_support  students_reached  fully_funded  \
 0                                  431.14              23.0           1.0
 1                                  378.53              35.0           1.0
 2                                  426.35             160.0           1.0

   date_posted_test  total_projects_in_city  total_projects_in_state  \
 0       2013-10-02                    1965                    10716
 1       2013-04-14                     357                   126242
 2       2013-08-29                      11                   126242

    percentage_reached_month_1  ...  month_posted_February  \
 0                         0.0  ...                  False
 1                       100.0  ...                  False
 2                       100.0  ...                  False

    month_posted_January  month_posted_July  month_posted_June  \
 0                 False              False              False
 1                 False              False              False
 2                 False              False              False

    month_posted_March  month_posted_May  month_posted_November  \
 0               False             False                  False
 1               False             False                  False
 2               False             False                  False

    month_posted_October  month_posted_September  months_since_posted
 0                  True                   False                    3
 1                 False                   False                    8
 2                 False                   False                    4

 [3 rows x 69 columns],
 ('random_forest',
  'high'):                           projectid date_posted  \
 0  88f263f1cd657bccce254ffc0b79df4d  2013-01-01
 1  4ebd0837defce812ff9d312c3f78db33  2013-08-04
 2  3fe2b20e3ab2c4f00d20a217329f2dc3  2013-08-04
 3  cc861ce787eb2377f5525755c8d2f159  2013-08-04
 4  42acb52f680b26dd5c6e4dd8bb71b056  2013-08-04
 5  f2c1c02e91f7ea8085102d21e1b71a5a  2013-08-04
 6  d150e9f7a2a50191f0878d1ecb617a80  2013-08-04
 7  ac107e18e3fb7cb38f814eea36adc807  2013-08-04
 8  5a78acfb85abc7975b982fb9c3f2448b  2013-08-04
 9  018441b047995a18ea631b6bedda34e8  2013-08-04

    probability_fully_funded_random_forest  \
 0                                     1.0
 1                                     1.0
 2                                     1.0
 3                                     1.0
 4                                     1.0
 5                                     1.0
 6                                     1.0
 7                                     1.0
 8                                     1.0
 9                                     1.0

    total_price_excluding_optional_support  students_reached  fully_funded  \
 0                                  868.02              28.0           1.0
 1                                  542.62              25.0           1.0
 2                                  156.05              25.0           1.0
 3                                  224.29              23.0           1.0
 4                                  164.26              18.0           1.0
 5                                  314.50             450.0           1.0
 6                                  147.23             150.0           1.0
 7                                  180.65              28.0           1.0
 8                                  384.55              30.0           1.0
 9                                  156.14             252.0           1.0

   date_posted_test  total_projects_in_city  total_projects_in_state  \
 0       2013-01-01                     102                   126242
 1       2013-08-04                    1428                    43478
 2       2013-08-04                     943                    10469
 3       2013-08-04                      98                    18615
 4       2013-08-04                     226                    30605
 5       2013-08-04                    2082                     1605
 6       2013-08-04                      76                    30605
 7       2013-08-04                     343                    10469
 8       2013-08-04                      73                    12330
 9       2013-08-04                   22097                   126242

    percentage_reached_month_1  ...  month_posted_February  \
 0                       100.0  ...                  False
 1                       100.0  ...                  False
 2                       100.0  ...                  False
 3                         0.0  ...                  False
 4                       100.0  ...                  False
 5                       100.0  ...                  False
 6                       100.0  ...                  False
 7                       100.0  ...                  False
 8                       100.0  ...                  False
 9                       100.0  ...                  False

    month_posted_January  month_posted_July  month_posted_June  \
 0                  True              False              False
 1                 False              False              False
 2                 False              False              False
 3                 False              False              False
 4                 False              False              False
 5                 False              False              False
 6                 False              False              False
 7                 False              False              False
 8                 False              False              False
 9                 False              False              False

    month_posted_March  month_posted_May  month_posted_November  \
 0               False             False                  False
 1               False             False                  False
 2               False             False                  False
 3               False             False                  False
 4               False             False                  False
 5               False             False                  False
 6               False             False                  False
 7               False             False                  False
 8               False             False                  False
 9               False             False                  False

    month_posted_October  month_posted_September  months_since_posted
 0                 False                   False                   12
 1                 False                   False                    4
 2                 False                   False                    4
 3                 False                   False                    4
 4                 False                   False                    4
 5                 False                   False                    4
 6                 False                   False                    4
 7                 False                   False                    4
 8                 False                   False                    4
 9                 False                   False                    4

 [10 rows x 69 columns],
 ('random_forest',
  'highest'):                               projectid date_posted  \
 37745  a4e0b968275daae146f6e77e2afef570  2013-07-01
 39928  763995355b81f37440658222ded8fec0  2013-07-12
 39922  2c5be6788bdbbc7111d9ccb3a0b059b3  2013-07-12
 39915  27207c2bee2123b7d22c4f4469382e30  2013-07-12
 39913  2bd8e0c0da513dec9548b01cd91ef131  2013-07-12
 39912  b1a21c0790ed71bbd0c6eca092822dea  2013-07-12
 39911  0e8238b5415e9a107abe31f563f552eb  2013-07-12
 68289  dcdb7df37032e8cf53ef61fcbefef1f5  2013-09-17
 39897  dde9baebffc928f3c5f801b434ec51c4  2013-07-12
 39887  085fa227621772806f65b8bad5393e95  2013-07-12

        probability_fully_funded_random_forest
 37745                                     1.0
 39928                                     1.0
 39922                                     1.0
 39915                                     1.0
 39913                                     1.0
 39912                                     1.0
 39911                                     1.0
 68289                                     1.0
 39897                                     1.0
 39887                                     1.0  ,
 ('logistic_regression',
  'low'):                               projectid date_posted  \
 28622  ed68a7d94ba1e15394dbb1716b837cc9  2013-05-12
 18947  3effd7b81b58c42d4b549791acc121f4  2013-03-21
 22760  dd12883585f2c992d9568001a6ce9c64  2013-04-12

        probability_fully_funded_logistic_regression
 28622                                      0.999907
 18947                                      0.999235
 22760                                      0.997200  ,
 ('logistic_regression',
  'moderate'):                               projectid date_posted  \
 19898  a0e2c86d61c3154e8c9f1fde77479016  2013-03-26
 44613  4c54491526dd79c04e1f5657ac5eed10  2013-07-30
 12685  5108480f02d6ca4dd6208d05ac5a7c91  2013-02-18

        probability_fully_funded_logistic_regression
 19898                                      0.999954
 44613                                      0.999877
 12685                                      0.999322  ,
 ('logistic_regression',
  'high'):                               projectid date_posted  \
 38828  9069d0603e76839c684dc6a1c138d639  2013-07-06
 25188  a80f26f1e5916b8d9dcb6bf36c5fee79  2013-04-25
 4167   504e1ec5da6aae62327e91989f50aa3c  2013-01-20
 22716  cf5c360adec5160846578246f7e65e5a  2013-04-12
 57062  00229f2003fd383c6ced36bc47761845  2013-08-30
 47462  10b65bc84faeab717d892ea2e0f7a9bd  2013-08-09
 62193  23093b3e4e0749f365c5637fd19258fa  2013-09-07
 23265  466c5a055c749e521c39c93a2f3d109d  2013-04-13
 40098  c22cf7e67f9ed001dcf1ccc687938aee  2013-07-13
 41722  10d40cb99f042abce156be2b62ea3395  2013-07-20

        probability_fully_funded_logistic_regression
 38828                                      0.999955
 25188                                      0.999938
 4167                                       0.999871
 22716                                      0.999861
 57062                                      0.999756
 47462                                      0.999698
 62193                                      0.999587
 23265                                      0.999578
 40098                                      0.999496
 41722                                      0.999413  ,
 ('logistic_regression',
  'highest'):                               projectid date_posted  \
 13059  2be31e8ed070f2c71021cb7cd28f669b  2013-02-20
 59401  e891154767af72f5889a4ee9c269ccfc  2013-09-03
 11679  80de6d8194fedd2f27778aa58bb6d724  2013-02-15
 55716  11de69d170d074e3e5ec043a5ce73fe3  2013-08-27
 41104  815395153f4552eefefeecb873b06398  2013-07-16
 45722  81657e229e1dfa772abeee77b7693dc6  2013-08-04
 33104  6ecdac4a3ab7aa0f0f1641001f5d6401  2013-06-08
 22096  c9012494f0871fbe304cd4928189e2ea  2013-04-08
 44436  82af25a04bad1eed9a07f01c42881cc9  2013-07-29
 57521  a35d96eb60c1cb6eabecdd91709f4fb1  2013-08-31

        probability_fully_funded_logistic_regression
 13059                                      0.999996
 59401                                      0.999884
 11679                                      0.999807
 55716                                      0.999667
 41104                                      0.999502
 45722                                      0.999144
 33104                                      0.999135
 22096                                      0.999123
 44436                                      0.999108
 57521                                      0.999108  }

{('random_forest',
  'low'):                           projectid date_posted  \
 0  e94a5f08bb09a5c745edc4860b0d85ac  2013-01-01
 1  d97caf8b7243ba9128cc0a7aacdf9780  2013-08-30
 2  efd84a1f24856df0431a469a3abf4664  2013-08-25

    probability_fully_funded_random_forest  \
 0                                     1.0
 1                                     1.0
 2                                     1.0

    total_price_excluding_optional_support  students_reached  fully_funded  \
 0                                  752.10              30.0           1.0
 1                                  255.22             160.0           1.0
 2                                  450.50              23.0           1.0

   date_posted_test  total_projects_in_city  total_projects_in_state  \
 0       2013-01-01                     392                   126242
 1       2013-08-30                     131                   126242
 2       2013-08-25                     114                     7021

    percentage_reached_month_1  ...  month_posted_February  \
 0                       100.0  ...                  False
 1                       100.0  ...                  False
 2                       100.0  ...                  False

    month_posted_January  month_posted_July  month_posted_June  \
 0                  True              False              False
 1                 False              False              False
 2                 False              False              False

    month_posted_March  month_posted_May  month_posted_November  \
 0               False             False                  False
 1               False             False                  False
 2               False             False                  False

    month_posted_October  month_posted_September  months_since_posted
 0                 False                   False                   12
 1                 False                   False                    4
 2                 False                   False                    4

 [3 rows x 69 columns],
 ('random_forest',
  'moderate'):                           projectid date_posted  \
 0  0c61d6de55e1ec14bcf76540c132fee7  2013-10-02
 1  b313d50d7e4448569f988061630cb539  2013-04-14
 2  b7bf7820c5110ee7db3949b51a5a9c7d  2013-08-29

    probability_fully_funded_random_forest  \
 0                                     1.0
 1                                     1.0
 2                                     1.0

    total_price_excluding_optional_support  students_reached  fully_funded  \
 0                                  431.14              23.0           1.0
 1                                  378.53              35.0           1.0
 2                                  426.35             160.0           1.0

   date_posted_test  total_projects_in_city  total_projects_in_state  \
 0       2013-10-02                    1965                    10716
 1       2013-04-14                     357                   126242
 2       2013-08-29                      11                   126242

    percentage_reached_month_1  ...  month_posted_February  \
 0                         0.0  ...                  False
 1                       100.0  ...                  False
 2                       100.0  ...                  False

    month_posted_January  month_posted_July  month_posted_June  \
 0                 False              False              False
 1                 False              False              False
 2                 False              False              False

    month_posted_March  month_posted_May  month_posted_November  \
 0               False             False                  False
 1               False             False                  False
 2               False             False                  False

    month_posted_October  month_posted_September  months_since_posted
 0                  True                   False                    3
 1                 False                   False                    8
 2                 False                   False                    4

 [3 rows x 69 columns],
 ('random_forest',
  'high'):                           projectid date_posted  \
 0  88f263f1cd657bccce254ffc0b79df4d  2013-01-01
 1  4ebd0837defce812ff9d312c3f78db33  2013-08-04
 2  3fe2b20e3ab2c4f00d20a217329f2dc3  2013-08-04
 3  cc861ce787eb2377f5525755c8d2f159  2013-08-04
 4  42acb52f680b26dd5c6e4dd8bb71b056  2013-08-04
 5  f2c1c02e91f7ea8085102d21e1b71a5a  2013-08-04
 6  d150e9f7a2a50191f0878d1ecb617a80  2013-08-04
 7  ac107e18e3fb7cb38f814eea36adc807  2013-08-04
 8  5a78acfb85abc7975b982fb9c3f2448b  2013-08-04
 9  018441b047995a18ea631b6bedda34e8  2013-08-04

    probability_fully_funded_random_forest  \
 0                                     1.0
 1                                     1.0
 2                                     1.0
 3                                     1.0
 4                                     1.0
 5                                     1.0
 6                                     1.0
 7                                     1.0
 8                                     1.0
 9                                     1.0

    total_price_excluding_optional_support  students_reached  fully_funded  \
 0                                  868.02              28.0           1.0
 1                                  542.62              25.0           1.0
 2                                  156.05              25.0           1.0
 3                                  224.29              23.0           1.0
 4                                  164.26              18.0           1.0
 5                                  314.50             450.0           1.0
 6                                  147.23             150.0           1.0
 7                                  180.65              28.0           1.0
 8                                  384.55              30.0           1.0
 9                                  156.14             252.0           1.0

   date_posted_test  total_projects_in_city  total_projects_in_state  \
 0       2013-01-01                     102                   126242
 1       2013-08-04                    1428                    43478
 2       2013-08-04                     943                    10469
 3       2013-08-04                      98                    18615
 4       2013-08-04                     226                    30605
 5       2013-08-04                    2082                     1605
 6       2013-08-04                      76                    30605
 7       2013-08-04                     343                    10469
 8       2013-08-04                      73                    12330
 9       2013-08-04                   22097                   126242

    percentage_reached_month_1  ...  month_posted_February  \
 0                       100.0  ...                  False
 1                       100.0  ...                  False
 2                       100.0  ...                  False
 3                         0.0  ...                  False
 4                       100.0  ...                  False
 5                       100.0  ...                  False
 6                       100.0  ...                  False
 7                       100.0  ...                  False
 8                       100.0  ...                  False
 9                       100.0  ...                  False

    month_posted_January  month_posted_July  month_posted_June  \
 0                  True              False              False
 1                 False              False              False
 2                 False              False              False
 3                 False              False              False
 4                 False              False              False
 5                 False              False              False
 6                 False              False              False
 7                 False              False              False
 8                 False              False              False
 9                 False              False              False

    month_posted_March  month_posted_May  month_posted_November  \
 0               False             False                  False
 1               False             False                  False
 2               False             False                  False
 3               False             False                  False
 4               False             False                  False
 5               False             False                  False
 6               False             False                  False
 7               False             False                  False
 8               False             False                  False
 9               False             False                  False

    month_posted_October  month_posted_September  months_since_posted
 0                 False                   False                   12
 1                 False                   False                    4
 2                 False                   False                    4
 3                 False                   False                    4
 4                 False                   False                    4
 5                 False                   False                    4
 6                 False                   False                    4
 7                 False                   False                    4
 8                 False                   False                    4
 9                 False                   False                    4

 [10 rows x 69 columns],
 ('random_forest',
  'highest'):                           projectid date_posted  \
 0  a4e0b968275daae146f6e77e2afef570  2013-07-01
 1  763995355b81f37440658222ded8fec0  2013-07-12
 2  2c5be6788bdbbc7111d9ccb3a0b059b3  2013-07-12
 3  27207c2bee2123b7d22c4f4469382e30  2013-07-12
 4  2bd8e0c0da513dec9548b01cd91ef131  2013-07-12
 5  b1a21c0790ed71bbd0c6eca092822dea  2013-07-12
 6  0e8238b5415e9a107abe31f563f552eb  2013-07-12
 7  dcdb7df37032e8cf53ef61fcbefef1f5  2013-09-17
 8  dde9baebffc928f3c5f801b434ec51c4  2013-07-12
 9  085fa227621772806f65b8bad5393e95  2013-07-12

    probability_fully_funded_random_forest  \
 0                                     1.0
 1                                     1.0
 2                                     1.0
 3                                     1.0
 4                                     1.0
 5                                     1.0
 6                                     1.0
 7                                     1.0
 8                                     1.0
 9                                     1.0

    total_price_excluding_optional_support  students_reached  fully_funded  \
 0                                  151.42              82.0           1.0
 1                                  293.98              27.0           1.0
 2                                  378.77              20.0           1.0
 3                                  438.41             115.0           1.0
 4                                  224.85              24.0           1.0
 5                                  169.70              22.0           1.0
 6                                  371.79              30.0           1.0
 7                                  835.74              93.0           1.0
 8                                  195.09              25.0           1.0
 9                                  194.69             140.0           1.0

   date_posted_test  total_projects_in_city  total_projects_in_state  \
 0       2013-07-01                     137                     5770
 1       2013-07-12                    2945                     9837
 2       2013-07-12                    7134                   126242
 3       2013-07-12                    4234                    39661
 4       2013-07-12                     396                    30605
 5       2013-07-12                    6290                     9555
 6       2013-07-12                   28435                    40167
 7       2013-09-17                     104                     7027
 8       2013-07-12                    3569                    10716
 9       2013-07-12                    4044                    12330

    percentage_reached_month_1  ...  month_posted_February  \
 0                  100.000000  ...                  False
 1                    0.000000  ...                  False
 2                  100.000000  ...                  False
 3                   28.455099  ...                  False
 4                  100.000000  ...                  False
 5                    0.000000  ...                  False
 6                  100.000000  ...                  False
 7                  100.000000  ...                  False
 8                   13.070890  ...                  False
 9                  100.000000  ...                  False

    month_posted_January  month_posted_July  month_posted_June  \
 0                 False               True              False
 1                 False               True              False
 2                 False               True              False
 3                 False               True              False
 4                 False               True              False
 5                 False               True              False
 6                 False               True              False
 7                 False              False              False
 8                 False               True              False
 9                 False               True              False

    month_posted_March  month_posted_May  month_posted_November  \
 0               False             False                  False
 1               False             False                  False
 2               False             False                  False
 3               False             False                  False
 4               False             False                  False
 5               False             False                  False
 6               False             False                  False
 7               False             False                  False
 8               False             False                  False
 9               False             False                  False

    month_posted_October  month_posted_September  months_since_posted
 0                 False                   False                    6
 1                 False                   False                    5
 2                 False                   False                    5
 3                 False                   False                    5
 4                 False                   False                    5
 5                 False                   False                    5
 6                 False                   False                    5
 7                 False                    True                    3
 8                 False                   False                    5
 9                 False                   False                    5

 [10 rows x 69 columns],
 ('logistic_regression',
  'low'):                               projectid date_posted  \
 28622  ed68a7d94ba1e15394dbb1716b837cc9  2013-05-12
 18947  3effd7b81b58c42d4b549791acc121f4  2013-03-21
 22760  dd12883585f2c992d9568001a6ce9c64  2013-04-12

        probability_fully_funded_logistic_regression
 28622                                      0.999907
 18947                                      0.999235
 22760                                      0.997200  ,
 ('logistic_regression',
  'moderate'):                               projectid date_posted  \
 19898  a0e2c86d61c3154e8c9f1fde77479016  2013-03-26
 44613  4c54491526dd79c04e1f5657ac5eed10  2013-07-30
 12685  5108480f02d6ca4dd6208d05ac5a7c91  2013-02-18

        probability_fully_funded_logistic_regression
 19898                                      0.999954
 44613                                      0.999877
 12685                                      0.999322  ,
 ('logistic_regression',
  'high'):                               projectid date_posted  \
 38828  9069d0603e76839c684dc6a1c138d639  2013-07-06
 25188  a80f26f1e5916b8d9dcb6bf36c5fee79  2013-04-25
 4167   504e1ec5da6aae62327e91989f50aa3c  2013-01-20
 22716  cf5c360adec5160846578246f7e65e5a  2013-04-12
 57062  00229f2003fd383c6ced36bc47761845  2013-08-30
 47462  10b65bc84faeab717d892ea2e0f7a9bd  2013-08-09
 62193  23093b3e4e0749f365c5637fd19258fa  2013-09-07
 23265  466c5a055c749e521c39c93a2f3d109d  2013-04-13
 40098  c22cf7e67f9ed001dcf1ccc687938aee  2013-07-13
 41722  10d40cb99f042abce156be2b62ea3395  2013-07-20

        probability_fully_funded_logistic_regression
 38828                                      0.999955
 25188                                      0.999938
 4167                                       0.999871
 22716                                      0.999861
 57062                                      0.999756
 47462                                      0.999698
 62193                                      0.999587
 23265                                      0.999578
 40098                                      0.999496
 41722                                      0.999413  ,
 ('logistic_regression',
  'highest'):                               projectid date_posted  \
 13059  2be31e8ed070f2c71021cb7cd28f669b  2013-02-20
 59401  e891154767af72f5889a4ee9c269ccfc  2013-09-03
 11679  80de6d8194fedd2f27778aa58bb6d724  2013-02-15
 55716  11de69d170d074e3e5ec043a5ce73fe3  2013-08-27
 41104  815395153f4552eefefeecb873b06398  2013-07-16
 45722  81657e229e1dfa772abeee77b7693dc6  2013-08-04
 33104  6ecdac4a3ab7aa0f0f1641001f5d6401  2013-06-08
 22096  c9012494f0871fbe304cd4928189e2ea  2013-04-08
 44436  82af25a04bad1eed9a07f01c42881cc9  2013-07-29
 57521  a35d96eb60c1cb6eabecdd91709f4fb1  2013-08-31

        probability_fully_funded_logistic_regression
 13059                                      0.999996
 59401                                      0.999884
 11679                                      0.999807
 55716                                      0.999667
 41104                                      0.999502
 45722                                      0.999144
 33104                                      0.999135
 22096                                      0.999123
 44436                                      0.999108
 57521                                      0.999108  }

{('random_forest',
  'low'):                           projectid date_posted  \
 0  e94a5f08bb09a5c745edc4860b0d85ac  2013-01-01
 1  d97caf8b7243ba9128cc0a7aacdf9780  2013-08-30
 2  efd84a1f24856df0431a469a3abf4664  2013-08-25

    probability_fully_funded_random_forest  \
 0                                     1.0
 1                                     1.0
 2                                     1.0

    total_price_excluding_optional_support  students_reached  fully_funded  \
 0                                  752.10              30.0           1.0
 1                                  255.22             160.0           1.0
 2                                  450.50              23.0           1.0

   date_posted_test  total_projects_in_city  total_projects_in_state  \
 0       2013-01-01                     392                   126242
 1       2013-08-30                     131                   126242
 2       2013-08-25                     114                     7021

    percentage_reached_month_1  ...  month_posted_February  \
 0                       100.0  ...                  False
 1                       100.0  ...                  False
 2                       100.0  ...                  False

    month_posted_January  month_posted_July  month_posted_June  \
 0                  True              False              False
 1                 False              False              False
 2                 False              False              False

    month_posted_March  month_posted_May  month_posted_November  \
 0               False             False                  False
 1               False             False                  False
 2               False             False                  False

    month_posted_October  month_posted_September  months_since_posted
 0                 False                   False                   12
 1                 False                   False                    4
 2                 False                   False                    4

 [3 rows x 69 columns],
 ('random_forest',
  'moderate'):                           projectid date_posted  \
 0  0c61d6de55e1ec14bcf76540c132fee7  2013-10-02
 1  b313d50d7e4448569f988061630cb539  2013-04-14
 2  b7bf7820c5110ee7db3949b51a5a9c7d  2013-08-29

    probability_fully_funded_random_forest  \
 0                                     1.0
 1                                     1.0
 2                                     1.0

    total_price_excluding_optional_support  students_reached  fully_funded  \
 0                                  431.14              23.0           1.0
 1                                  378.53              35.0           1.0
 2                                  426.35             160.0           1.0

   date_posted_test  total_projects_in_city  total_projects_in_state  \
 0       2013-10-02                    1965                    10716
 1       2013-04-14                     357                   126242
 2       2013-08-29                      11                   126242

    percentage_reached_month_1  ...  month_posted_February  \
 0                         0.0  ...                  False
 1                       100.0  ...                  False
 2                       100.0  ...                  False

    month_posted_January  month_posted_July  month_posted_June  \
 0                 False              False              False
 1                 False              False              False
 2                 False              False              False

    month_posted_March  month_posted_May  month_posted_November  \
 0               False             False                  False
 1               False             False                  False
 2               False             False                  False

    month_posted_October  month_posted_September  months_since_posted
 0                  True                   False                    3
 1                 False                   False                    8
 2                 False                   False                    4

 [3 rows x 69 columns],
 ('random_forest',
  'high'):                           projectid date_posted  \
 0  88f263f1cd657bccce254ffc0b79df4d  2013-01-01
 1  4ebd0837defce812ff9d312c3f78db33  2013-08-04
 2  3fe2b20e3ab2c4f00d20a217329f2dc3  2013-08-04
 3  cc861ce787eb2377f5525755c8d2f159  2013-08-04
 4  42acb52f680b26dd5c6e4dd8bb71b056  2013-08-04
 5  f2c1c02e91f7ea8085102d21e1b71a5a  2013-08-04
 6  d150e9f7a2a50191f0878d1ecb617a80  2013-08-04
 7  ac107e18e3fb7cb38f814eea36adc807  2013-08-04
 8  5a78acfb85abc7975b982fb9c3f2448b  2013-08-04
 9  018441b047995a18ea631b6bedda34e8  2013-08-04

    probability_fully_funded_random_forest  \
 0                                     1.0
 1                                     1.0
 2                                     1.0
 3                                     1.0
 4                                     1.0
 5                                     1.0
 6                                     1.0
 7                                     1.0
 8                                     1.0
 9                                     1.0

    total_price_excluding_optional_support  students_reached  fully_funded  \
 0                                  868.02              28.0           1.0
 1                                  542.62              25.0           1.0
 2                                  156.05              25.0           1.0
 3                                  224.29              23.0           1.0
 4                                  164.26              18.0           1.0
 5                                  314.50             450.0           1.0
 6                                  147.23             150.0           1.0
 7                                  180.65              28.0           1.0
 8                                  384.55              30.0           1.0
 9                                  156.14             252.0           1.0

   date_posted_test  total_projects_in_city  total_projects_in_state  \
 0       2013-01-01                     102                   126242
 1       2013-08-04                    1428                    43478
 2       2013-08-04                     943                    10469
 3       2013-08-04                      98                    18615
 4       2013-08-04                     226                    30605
 5       2013-08-04                    2082                     1605
 6       2013-08-04                      76                    30605
 7       2013-08-04                     343                    10469
 8       2013-08-04                      73                    12330
 9       2013-08-04                   22097                   126242

    percentage_reached_month_1  ...  month_posted_February  \
 0                       100.0  ...                  False
 1                       100.0  ...                  False
 2                       100.0  ...                  False
 3                         0.0  ...                  False
 4                       100.0  ...                  False
 5                       100.0  ...                  False
 6                       100.0  ...                  False
 7                       100.0  ...                  False
 8                       100.0  ...                  False
 9                       100.0  ...                  False

    month_posted_January  month_posted_July  month_posted_June  \
 0                  True              False              False
 1                 False              False              False
 2                 False              False              False
 3                 False              False              False
 4                 False              False              False
 5                 False              False              False
 6                 False              False              False
 7                 False              False              False
 8                 False              False              False
 9                 False              False              False

    month_posted_March  month_posted_May  month_posted_November  \
 0               False             False                  False
 1               False             False                  False
 2               False             False                  False
 3               False             False                  False
 4               False             False                  False
 5               False             False                  False
 6               False             False                  False
 7               False             False                  False
 8               False             False                  False
 9               False             False                  False

    month_posted_October  month_posted_September  months_since_posted
 0                 False                   False                   12
 1                 False                   False                    4
 2                 False                   False                    4
 3                 False                   False                    4
 4                 False                   False                    4
 5                 False                   False                    4
 6                 False                   False                    4
 7                 False                   False                    4
 8                 False                   False                    4
 9                 False                   False                    4

 [10 rows x 69 columns],
 ('random_forest',
  'highest'):                           projectid date_posted  \
 0  a4e0b968275daae146f6e77e2afef570  2013-07-01
 1  763995355b81f37440658222ded8fec0  2013-07-12
 2  2c5be6788bdbbc7111d9ccb3a0b059b3  2013-07-12
 3  27207c2bee2123b7d22c4f4469382e30  2013-07-12
 4  2bd8e0c0da513dec9548b01cd91ef131  2013-07-12
 5  b1a21c0790ed71bbd0c6eca092822dea  2013-07-12
 6  0e8238b5415e9a107abe31f563f552eb  2013-07-12
 7  dcdb7df37032e8cf53ef61fcbefef1f5  2013-09-17
 8  dde9baebffc928f3c5f801b434ec51c4  2013-07-12
 9  085fa227621772806f65b8bad5393e95  2013-07-12

    probability_fully_funded_random_forest  \
 0                                     1.0
 1                                     1.0
 2                                     1.0
 3                                     1.0
 4                                     1.0
 5                                     1.0
 6                                     1.0
 7                                     1.0
 8                                     1.0
 9                                     1.0

    total_price_excluding_optional_support  students_reached  fully_funded  \
 0                                  151.42              82.0           1.0
 1                                  293.98              27.0           1.0
 2                                  378.77              20.0           1.0
 3                                  438.41             115.0           1.0
 4                                  224.85              24.0           1.0
 5                                  169.70              22.0           1.0
 6                                  371.79              30.0           1.0
 7                                  835.74              93.0           1.0
 8                                  195.09              25.0           1.0
 9                                  194.69             140.0           1.0

   date_posted_test  total_projects_in_city  total_projects_in_state  \
 0       2013-07-01                     137                     5770
 1       2013-07-12                    2945                     9837
 2       2013-07-12                    7134                   126242
 3       2013-07-12                    4234                    39661
 4       2013-07-12                     396                    30605
 5       2013-07-12                    6290                     9555
 6       2013-07-12                   28435                    40167
 7       2013-09-17                     104                     7027
 8       2013-07-12                    3569                    10716
 9       2013-07-12                    4044                    12330

    percentage_reached_month_1  ...  month_posted_February  \
 0                  100.000000  ...                  False
 1                    0.000000  ...                  False
 2                  100.000000  ...                  False
 3                   28.455099  ...                  False
 4                  100.000000  ...                  False
 5                    0.000000  ...                  False
 6                  100.000000  ...                  False
 7                  100.000000  ...                  False
 8                   13.070890  ...                  False
 9                  100.000000  ...                  False

    month_posted_January  month_posted_July  month_posted_June  \
 0                 False               True              False
 1                 False               True              False
 2                 False               True              False
 3                 False               True              False
 4                 False               True              False
 5                 False               True              False
 6                 False               True              False
 7                 False              False              False
 8                 False               True              False
 9                 False               True              False

    month_posted_March  month_posted_May  month_posted_November  \
 0               False             False                  False
 1               False             False                  False
 2               False             False                  False
 3               False             False                  False
 4               False             False                  False
 5               False             False                  False
 6               False             False                  False
 7               False             False                  False
 8               False             False                  False
 9               False             False                  False

    month_posted_October  month_posted_September  months_since_posted
 0                 False                   False                    6
 1                 False                   False                    5
 2                 False                   False                    5
 3                 False                   False                    5
 4                 False                   False                    5
 5                 False                   False                    5
 6                 False                   False                    5
 7                 False                    True                    3
 8                 False                   False                    5
 9                 False                   False                    5

 [10 rows x 69 columns],
 ('logistic_regression',
  'low'):                           projectid date_posted  \
 0  ed68a7d94ba1e15394dbb1716b837cc9  2013-05-12
 1  3effd7b81b58c42d4b549791acc121f4  2013-03-21
 2  dd12883585f2c992d9568001a6ce9c64  2013-04-12

    probability_fully_funded_logistic_regression  \
 0                                      0.999907
 1                                      0.999235
 2                                      0.997200

    total_price_excluding_optional_support  students_reached  fully_funded  \
 0                                  497.46             502.0           1.0
 1                                  317.52             140.0           1.0
 2                                  231.98              15.0           1.0

   date_posted_test  total_projects_in_city  total_projects_in_state  \
 0       2013-05-12                       7                    40167
 1       2013-03-21                    1156                   126242
 2       2013-04-12                      41                     7728

    percentage_reached_month_1  ...  month_posted_February  \
 0                   89.705705  ...                  False
 1                  162.988158  ...                  False
 2                    0.000000  ...                  False

    month_posted_January  month_posted_July  month_posted_June  \
 0                 False              False              False
 1                 False              False              False
 2                 False              False              False

    month_posted_March  month_posted_May  month_posted_November  \
 0               False              True                  False
 1                True             False                  False
 2               False             False                  False

    month_posted_October  month_posted_September  months_since_posted
 0                 False                   False                    7
 1                 False                   False                    9
 2                 False                   False                    8

 [3 rows x 69 columns],
 ('logistic_regression',
  'moderate'):                               projectid date_posted  \
 19898  a0e2c86d61c3154e8c9f1fde77479016  2013-03-26
 44613  4c54491526dd79c04e1f5657ac5eed10  2013-07-30
 12685  5108480f02d6ca4dd6208d05ac5a7c91  2013-02-18

        probability_fully_funded_logistic_regression
 19898                                      0.999954
 44613                                      0.999877
 12685                                      0.999322  ,
 ('logistic_regression',
  'high'):                               projectid date_posted  \
 38828  9069d0603e76839c684dc6a1c138d639  2013-07-06
 25188  a80f26f1e5916b8d9dcb6bf36c5fee79  2013-04-25
 4167   504e1ec5da6aae62327e91989f50aa3c  2013-01-20
 22716  cf5c360adec5160846578246f7e65e5a  2013-04-12
 57062  00229f2003fd383c6ced36bc47761845  2013-08-30
 47462  10b65bc84faeab717d892ea2e0f7a9bd  2013-08-09
 62193  23093b3e4e0749f365c5637fd19258fa  2013-09-07
 23265  466c5a055c749e521c39c93a2f3d109d  2013-04-13
 40098  c22cf7e67f9ed001dcf1ccc687938aee  2013-07-13
 41722  10d40cb99f042abce156be2b62ea3395  2013-07-20

        probability_fully_funded_logistic_regression
 38828                                      0.999955
 25188                                      0.999938
 4167                                       0.999871
 22716                                      0.999861
 57062                                      0.999756
 47462                                      0.999698
 62193                                      0.999587
 23265                                      0.999578
 40098                                      0.999496
 41722                                      0.999413  ,
 ('logistic_regression',
  'highest'):                               projectid date_posted  \
 13059  2be31e8ed070f2c71021cb7cd28f669b  2013-02-20
 59401  e891154767af72f5889a4ee9c269ccfc  2013-09-03
 11679  80de6d8194fedd2f27778aa58bb6d724  2013-02-15
 55716  11de69d170d074e3e5ec043a5ce73fe3  2013-08-27
 41104  815395153f4552eefefeecb873b06398  2013-07-16
 45722  81657e229e1dfa772abeee77b7693dc6  2013-08-04
 33104  6ecdac4a3ab7aa0f0f1641001f5d6401  2013-06-08
 22096  c9012494f0871fbe304cd4928189e2ea  2013-04-08
 44436  82af25a04bad1eed9a07f01c42881cc9  2013-07-29
 57521  a35d96eb60c1cb6eabecdd91709f4fb1  2013-08-31

        probability_fully_funded_logistic_regression
 13059                                      0.999996
 59401                                      0.999884
 11679                                      0.999807
 55716                                      0.999667
 41104                                      0.999502
 45722                                      0.999144
 33104                                      0.999135
 22096                                      0.999123

{('random_forest',
  'low'):                           projectid date_posted  \
 0  e94a5f08bb09a5c745edc4860b0d85ac  2013-01-01
 1  d97caf8b7243ba9128cc0a7aacdf9780  2013-08-30
 2  efd84a1f24856df0431a469a3abf4664  2013-08-25

    probability_fully_funded_random_forest  \
 0                                     1.0
 1                                     1.0
 2                                     1.0

    total_price_excluding_optional_support  students_reached  fully_funded  \
 0                                  752.10              30.0           1.0
 1                                  255.22             160.0           1.0
 2                                  450.50              23.0           1.0

   date_posted_test  total_projects_in_city  total_projects_in_state  \
 0       2013-01-01                     392                   126242
 1       2013-08-30                     131                   126242
 2       2013-08-25                     114                     7021

    percentage_reached_month_1  ...  month_posted_February  \
 0                       100.0  ...                  False
 1                       100.0  ...                  False
 2                       100.0  ...                  False

    month_posted_January  month_posted_July  month_posted_June  \
 0                  True              False              False
 1                 False              False              False
 2                 False              False              False

    month_posted_March  month_posted_May  month_posted_November  \
 0               False             False                  False
 1               False             False                  False
 2               False             False                  False

    month_posted_October  month_posted_September  months_since_posted
 0                 False                   False                   12
 1                 False                   False                    4
 2                 False                   False                    4

 [3 rows x 69 columns],
 ('random_forest',
  'moderate'):                           projectid date_posted  \
 0  0c61d6de55e1ec14bcf76540c132fee7  2013-10-02
 1  b313d50d7e4448569f988061630cb539  2013-04-14
 2  b7bf7820c5110ee7db3949b51a5a9c7d  2013-08-29

    probability_fully_funded_random_forest  \
 0                                     1.0
 1                                     1.0
 2                                     1.0

    total_price_excluding_optional_support  students_reached  fully_funded  \
 0                                  431.14              23.0           1.0
 1                                  378.53              35.0           1.0
 2                                  426.35             160.0           1.0

   date_posted_test  total_projects_in_city  total_projects_in_state  \
 0       2013-10-02                    1965                    10716
 1       2013-04-14                     357                   126242
 2       2013-08-29                      11                   126242

    percentage_reached_month_1  ...  month_posted_February  \
 0                         0.0  ...                  False
 1                       100.0  ...                  False
 2                       100.0  ...                  False

    month_posted_January  month_posted_July  month_posted_June  \
 0                 False              False              False
 1                 False              False              False
 2                 False              False              False

    month_posted_March  month_posted_May  month_posted_November  \
 0               False             False                  False
 1               False             False                  False
 2               False             False                  False

    month_posted_October  month_posted_September  months_since_posted
 0                  True                   False                    3
 1                 False                   False                    8
 2                 False                   False                    4

 [3 rows x 69 columns],
 ('random_forest',
  'high'):                           projectid date_posted  \
 0  88f263f1cd657bccce254ffc0b79df4d  2013-01-01
 1  4ebd0837defce812ff9d312c3f78db33  2013-08-04
 2  3fe2b20e3ab2c4f00d20a217329f2dc3  2013-08-04
 3  cc861ce787eb2377f5525755c8d2f159  2013-08-04
 4  42acb52f680b26dd5c6e4dd8bb71b056  2013-08-04
 5  f2c1c02e91f7ea8085102d21e1b71a5a  2013-08-04
 6  d150e9f7a2a50191f0878d1ecb617a80  2013-08-04
 7  ac107e18e3fb7cb38f814eea36adc807  2013-08-04
 8  5a78acfb85abc7975b982fb9c3f2448b  2013-08-04
 9  018441b047995a18ea631b6bedda34e8  2013-08-04

    probability_fully_funded_random_forest  \
 0                                     1.0
 1                                     1.0
 2                                     1.0
 3                                     1.0
 4                                     1.0
 5                                     1.0
 6                                     1.0
 7                                     1.0
 8                                     1.0
 9                                     1.0

    total_price_excluding_optional_support  students_reached  fully_funded  \
 0                                  868.02              28.0           1.0
 1                                  542.62              25.0           1.0
 2                                  156.05              25.0           1.0
 3                                  224.29              23.0           1.0
 4                                  164.26              18.0           1.0
 5                                  314.50             450.0           1.0
 6                                  147.23             150.0           1.0
 7                                  180.65              28.0           1.0
 8                                  384.55              30.0           1.0
 9                                  156.14             252.0           1.0

   date_posted_test  total_projects_in_city  total_projects_in_state  \
 0       2013-01-01                     102                   126242
 1       2013-08-04                    1428                    43478
 2       2013-08-04                     943                    10469
 3       2013-08-04                      98                    18615
 4       2013-08-04                     226                    30605
 5       2013-08-04                    2082                     1605
 6       2013-08-04                      76                    30605
 7       2013-08-04                     343                    10469
 8       2013-08-04                      73                    12330
 9       2013-08-04                   22097                   126242

    percentage_reached_month_1  ...  month_posted_February  \
 0                       100.0  ...                  False
 1                       100.0  ...                  False
 2                       100.0  ...                  False
 3                         0.0  ...                  False
 4                       100.0  ...                  False
 5                       100.0  ...                  False
 6                       100.0  ...                  False
 7                       100.0  ...                  False
 8                       100.0  ...                  False
 9                       100.0  ...                  False

    month_posted_January  month_posted_July  month_posted_June  \
 0                  True              False              False
 1                 False              False              False
 2                 False              False              False
 3                 False              False              False
 4                 False              False              False
 5                 False              False              False
 6                 False              False              False
 7                 False              False              False
 8                 False              False              False
 9                 False              False              False

    month_posted_March  month_posted_May  month_posted_November  \
 0               False             False                  False
 1               False             False                  False
 2               False             False                  False
 3               False             False                  False
 4               False             False                  False
 5               False             False                  False
 6               False             False                  False
 7               False             False                  False
 8               False             False                  False
 9               False             False                  False

    month_posted_October  month_posted_September  months_since_posted
 0                 False                   False                   12
 1                 False                   False                    4
 2                 False                   False                    4
 3                 False                   False                    4
 4                 False                   False                    4
 5                 False                   False                    4
 6                 False                   False                    4
 7                 False                   False                    4
 8                 False                   False                    4
 9                 False                   False                    4

 [10 rows x 69 columns],
 ('random_forest',
  'highest'):                           projectid date_posted  \
 0  a4e0b968275daae146f6e77e2afef570  2013-07-01
 1  763995355b81f37440658222ded8fec0  2013-07-12
 2  2c5be6788bdbbc7111d9ccb3a0b059b3  2013-07-12
 3  27207c2bee2123b7d22c4f4469382e30  2013-07-12
 4  2bd8e0c0da513dec9548b01cd91ef131  2013-07-12
 5  b1a21c0790ed71bbd0c6eca092822dea  2013-07-12
 6  0e8238b5415e9a107abe31f563f552eb  2013-07-12
 7  dcdb7df37032e8cf53ef61fcbefef1f5  2013-09-17
 8  dde9baebffc928f3c5f801b434ec51c4  2013-07-12
 9  085fa227621772806f65b8bad5393e95  2013-07-12

    probability_fully_funded_random_forest  \
 0                                     1.0
 1                                     1.0
 2                                     1.0
 3                                     1.0
 4                                     1.0
 5                                     1.0
 6                                     1.0
 7                                     1.0
 8                                     1.0
 9                                     1.0

    total_price_excluding_optional_support  students_reached  fully_funded  \
 0                                  151.42              82.0           1.0
 1                                  293.98              27.0           1.0
 2                                  378.77              20.0           1.0
 3                                  438.41             115.0           1.0
 4                                  224.85              24.0           1.0
 5                                  169.70              22.0           1.0
 6                                  371.79              30.0           1.0
 7                                  835.74              93.0           1.0
 8                                  195.09              25.0           1.0
 9                                  194.69             140.0           1.0

   date_posted_test  total_projects_in_city  total_projects_in_state  \
 0       2013-07-01                     137                     5770
 1       2013-07-12                    2945                     9837
 2       2013-07-12                    7134                   126242
 3       2013-07-12                    4234                    39661
 4       2013-07-12                     396                    30605
 5       2013-07-12                    6290                     9555
 6       2013-07-12                   28435                    40167
 7       2013-09-17                     104                     7027
 8       2013-07-12                    3569                    10716
 9       2013-07-12                    4044                    12330

    percentage_reached_month_1  ...  month_posted_February  \
 0                  100.000000  ...                  False
 1                    0.000000  ...                  False
 2                  100.000000  ...                  False
 3                   28.455099  ...                  False
 4                  100.000000  ...                  False
 5                    0.000000  ...                  False
 6                  100.000000  ...                  False
 7                  100.000000  ...                  False
 8                   13.070890  ...                  False
 9                  100.000000  ...                  False

    month_posted_January  month_posted_July  month_posted_June  \
 0                 False               True              False
 1                 False               True              False
 2                 False               True              False
 3                 False               True              False
 4                 False               True              False
 5                 False               True              False
 6                 False               True              False
 7                 False              False              False
 8                 False               True              False
 9                 False               True              False

    month_posted_March  month_posted_May  month_posted_November  \
 0               False             False                  False
 1               False             False                  False
 2               False             False                  False
 3               False             False                  False
 4               False             False                  False
 5               False             False                  False
 6               False             False                  False
 7               False             False                  False
 8               False             False                  False
 9               False             False                  False

    month_posted_October  month_posted_September  months_since_posted
 0                 False                   False                    6
 1                 False                   False                    5
 2                 False                   False                    5
 3                 False                   False                    5
 4                 False                   False                    5
 5                 False                   False                    5
 6                 False                   False                    5
 7                 False                    True                    3
 8                 False                   False                    5
 9                 False                   False                    5

 [10 rows x 69 columns],
 ('logistic_regression',
  'low'):                           projectid date_posted  \
 0  ed68a7d94ba1e15394dbb1716b837cc9  2013-05-12
 1  3effd7b81b58c42d4b549791acc121f4  2013-03-21
 2  dd12883585f2c992d9568001a6ce9c64  2013-04-12

    probability_fully_funded_logistic_regression  \
 0                                      0.999907
 1                                      0.999235
 2                                      0.997200

    total_price_excluding_optional_support  students_reached  fully_funded  \
 0                                  497.46             502.0           1.0
 1                                  317.52             140.0           1.0
 2                                  231.98              15.0           1.0

   date_posted_test  total_projects_in_city  total_projects_in_state  \
 0       2013-05-12                       7                    40167
 1       2013-03-21                    1156                   126242
 2       2013-04-12                      41                     7728

    percentage_reached_month_1  ...  month_posted_February  \
 0                   89.705705  ...                  False
 1                  162.988158  ...                  False
 2                    0.000000  ...                  False

    month_posted_January  month_posted_July  month_posted_June  \
 0                 False              False              False
 1                 False              False              False
 2                 False              False              False

    month_posted_March  month_posted_May  month_posted_November  \
 0               False              True                  False
 1                True             False                  False
 2               False             False                  False

    month_posted_October  month_posted_September  months_since_posted
 0                 False                   False                    7
 1                 False                   False                    9
 2                 False                   False                    8

 [3 rows x 69 columns],
 ('logistic_regression',
  'moderate'):                           projectid date_posted  \
 0  a0e2c86d61c3154e8c9f1fde77479016  2013-03-26
 1  4c54491526dd79c04e1f5657ac5eed10  2013-07-30
 2  5108480f02d6ca4dd6208d05ac5a7c91  2013-02-18

    probability_fully_funded_logistic_regression  \
 0                                      0.999954
 1                                      0.999877
 2                                      0.999322

    total_price_excluding_optional_support  students_reached  fully_funded  \
 0                                  696.59              30.0           1.0
 1                                 1189.02              16.0           1.0
 2                                  587.48              23.0           1.0

   date_posted_test  total_projects_in_city  total_projects_in_state  \
 0       2013-03-26                    2346                   126242
 1       2013-07-30                      24                     9403
 2       2013-02-18                      20                     7027

    percentage_reached_month_1  ...  month_posted_February  \
 0                  186.614795  ...                  False
 1                  185.784932  ...                  False
 2                  136.171444  ...                   True

    month_posted_January  month_posted_July  month_posted_June  \
 0                 False              False              False
 1                 False               True              False
 2                 False              False              False

    month_posted_March  month_posted_May  month_posted_November  \
 0                True             False                  False
 1               False             False                  False
 2               False             False                  False

    month_posted_October  month_posted_September  months_since_posted
 0                 False                   False                    9
 1                 False                   False                    5
 2                 False                   False                   10

 [3 rows x 69 columns],
 ('logistic_regression',
  'high'):                               projectid date_posted  \
 38828  9069d0603e76839c684dc6a1c138d639  2013-07-06
 25188  a80f26f1e5916b8d9dcb6bf36c5fee79  2013-04-25
 4167   504e1ec5da6aae62327e91989f50aa3c  2013-01-20
 22716  cf5c360adec5160846578246f7e65e5a  2013-04-12
 57062  00229f2003fd383c6ced36bc47761845  2013-08-30
 47462  10b65bc84faeab717d892ea2e0f7a9bd  2013-08-09
 62193  23093b3e4e0749f365c5637fd19258fa  2013-09-07
 23265  466c5a055c749e521c39c93a2f3d109d  2013-04-13
 40098  c22cf7e67f9ed001dcf1ccc687938aee  2013-07-13
 41722  10d40cb99f042abce156be2b62ea3395  2013-07-20

        probability_fully_funded_logistic_regression
 38828                                      0.999955

{('random_forest',
  'low'):                           projectid date_posted  \
 0  e94a5f08bb09a5c745edc4860b0d85ac  2013-01-01
 1  d97caf8b7243ba9128cc0a7aacdf9780  2013-08-30
 2  efd84a1f24856df0431a469a3abf4664  2013-08-25

    probability_fully_funded_random_forest  \
 0                                     1.0
 1                                     1.0
 2                                     1.0

    total_price_excluding_optional_support  students_reached  fully_funded  \
 0                                  752.10              30.0           1.0
 1                                  255.22             160.0           1.0
 2                                  450.50              23.0           1.0

   date_posted_test  total_projects_in_city  total_projects_in_state  \
 0       2013-01-01                     392                   126242
 1       2013-08-30                     131                   126242
 2       2013-08-25                     114                     7021

    percentage_reached_month_1  ...  month_posted_February  \
 0                       100.0  ...                  False
 1                       100.0  ...                  False
 2                       100.0  ...                  False

    month_posted_January  month_posted_July  month_posted_June  \
 0                  True              False              False
 1                 False              False              False
 2                 False              False              False

    month_posted_March  month_posted_May  month_posted_November  \
 0               False             False                  False
 1               False             False                  False
 2               False             False                  False

    month_posted_October  month_posted_September  months_since_posted
 0                 False                   False                   12
 1                 False                   False                    4
 2                 False                   False                    4

 [3 rows x 69 columns],
 ('random_forest',
  'moderate'):                           projectid date_posted  \
 0  0c61d6de55e1ec14bcf76540c132fee7  2013-10-02
 1  b313d50d7e4448569f988061630cb539  2013-04-14
 2  b7bf7820c5110ee7db3949b51a5a9c7d  2013-08-29

    probability_fully_funded_random_forest  \
 0                                     1.0
 1                                     1.0
 2                                     1.0

    total_price_excluding_optional_support  students_reached  fully_funded  \
 0                                  431.14              23.0           1.0
 1                                  378.53              35.0           1.0
 2                                  426.35             160.0           1.0

   date_posted_test  total_projects_in_city  total_projects_in_state  \
 0       2013-10-02                    1965                    10716
 1       2013-04-14                     357                   126242
 2       2013-08-29                      11                   126242

    percentage_reached_month_1  ...  month_posted_February  \
 0                         0.0  ...                  False
 1                       100.0  ...                  False
 2                       100.0  ...                  False

    month_posted_January  month_posted_July  month_posted_June  \
 0                 False              False              False
 1                 False              False              False
 2                 False              False              False

    month_posted_March  month_posted_May  month_posted_November  \
 0               False             False                  False
 1               False             False                  False
 2               False             False                  False

    month_posted_October  month_posted_September  months_since_posted
 0                  True                   False                    3
 1                 False                   False                    8
 2                 False                   False                    4

 [3 rows x 69 columns],
 ('random_forest',
  'high'):                           projectid date_posted  \
 0  88f263f1cd657bccce254ffc0b79df4d  2013-01-01
 1  4ebd0837defce812ff9d312c3f78db33  2013-08-04
 2  3fe2b20e3ab2c4f00d20a217329f2dc3  2013-08-04
 3  cc861ce787eb2377f5525755c8d2f159  2013-08-04
 4  42acb52f680b26dd5c6e4dd8bb71b056  2013-08-04
 5  f2c1c02e91f7ea8085102d21e1b71a5a  2013-08-04
 6  d150e9f7a2a50191f0878d1ecb617a80  2013-08-04
 7  ac107e18e3fb7cb38f814eea36adc807  2013-08-04
 8  5a78acfb85abc7975b982fb9c3f2448b  2013-08-04
 9  018441b047995a18ea631b6bedda34e8  2013-08-04

    probability_fully_funded_random_forest  \
 0                                     1.0
 1                                     1.0
 2                                     1.0
 3                                     1.0
 4                                     1.0
 5                                     1.0
 6                                     1.0
 7                                     1.0
 8                                     1.0
 9                                     1.0

    total_price_excluding_optional_support  students_reached  fully_funded  \
 0                                  868.02              28.0           1.0
 1                                  542.62              25.0           1.0
 2                                  156.05              25.0           1.0
 3                                  224.29              23.0           1.0
 4                                  164.26              18.0           1.0
 5                                  314.50             450.0           1.0
 6                                  147.23             150.0           1.0
 7                                  180.65              28.0           1.0
 8                                  384.55              30.0           1.0
 9                                  156.14             252.0           1.0

   date_posted_test  total_projects_in_city  total_projects_in_state  \
 0       2013-01-01                     102                   126242
 1       2013-08-04                    1428                    43478
 2       2013-08-04                     943                    10469
 3       2013-08-04                      98                    18615
 4       2013-08-04                     226                    30605
 5       2013-08-04                    2082                     1605
 6       2013-08-04                      76                    30605
 7       2013-08-04                     343                    10469
 8       2013-08-04                      73                    12330
 9       2013-08-04                   22097                   126242

    percentage_reached_month_1  ...  month_posted_February  \
 0                       100.0  ...                  False
 1                       100.0  ...                  False
 2                       100.0  ...                  False
 3                         0.0  ...                  False
 4                       100.0  ...                  False
 5                       100.0  ...                  False
 6                       100.0  ...                  False
 7                       100.0  ...                  False
 8                       100.0  ...                  False
 9                       100.0  ...                  False

    month_posted_January  month_posted_July  month_posted_June  \
 0                  True              False              False
 1                 False              False              False
 2                 False              False              False
 3                 False              False              False
 4                 False              False              False
 5                 False              False              False
 6                 False              False              False
 7                 False              False              False
 8                 False              False              False
 9                 False              False              False

    month_posted_March  month_posted_May  month_posted_November  \
 0               False             False                  False
 1               False             False                  False
 2               False             False                  False
 3               False             False                  False
 4               False             False                  False
 5               False             False                  False
 6               False             False                  False
 7               False             False                  False
 8               False             False                  False
 9               False             False                  False

    month_posted_October  month_posted_September  months_since_posted
 0                 False                   False                   12
 1                 False                   False                    4
 2                 False                   False                    4
 3                 False                   False                    4
 4                 False                   False                    4
 5                 False                   False                    4
 6                 False                   False                    4
 7                 False                   False                    4
 8                 False                   False                    4
 9                 False                   False                    4

 [10 rows x 69 columns],
 ('random_forest',
  'highest'):                           projectid date_posted  \
 0  a4e0b968275daae146f6e77e2afef570  2013-07-01
 1  763995355b81f37440658222ded8fec0  2013-07-12
 2  2c5be6788bdbbc7111d9ccb3a0b059b3  2013-07-12
 3  27207c2bee2123b7d22c4f4469382e30  2013-07-12
 4  2bd8e0c0da513dec9548b01cd91ef131  2013-07-12
 5  b1a21c0790ed71bbd0c6eca092822dea  2013-07-12
 6  0e8238b5415e9a107abe31f563f552eb  2013-07-12
 7  dcdb7df37032e8cf53ef61fcbefef1f5  2013-09-17
 8  dde9baebffc928f3c5f801b434ec51c4  2013-07-12
 9  085fa227621772806f65b8bad5393e95  2013-07-12

    probability_fully_funded_random_forest  \
 0                                     1.0
 1                                     1.0
 2                                     1.0
 3                                     1.0
 4                                     1.0
 5                                     1.0
 6                                     1.0
 7                                     1.0
 8                                     1.0
 9                                     1.0

    total_price_excluding_optional_support  students_reached  fully_funded  \
 0                                  151.42              82.0           1.0
 1                                  293.98              27.0           1.0
 2                                  378.77              20.0           1.0
 3                                  438.41             115.0           1.0
 4                                  224.85              24.0           1.0
 5                                  169.70              22.0           1.0
 6                                  371.79              30.0           1.0
 7                                  835.74              93.0           1.0
 8                                  195.09              25.0           1.0
 9                                  194.69             140.0           1.0

   date_posted_test  total_projects_in_city  total_projects_in_state  \
 0       2013-07-01                     137                     5770
 1       2013-07-12                    2945                     9837
 2       2013-07-12                    7134                   126242
 3       2013-07-12                    4234                    39661
 4       2013-07-12                     396                    30605
 5       2013-07-12                    6290                     9555
 6       2013-07-12                   28435                    40167
 7       2013-09-17                     104                     7027
 8       2013-07-12                    3569                    10716
 9       2013-07-12                    4044                    12330

    percentage_reached_month_1  ...  month_posted_February  \
 0                  100.000000  ...                  False
 1                    0.000000  ...                  False
 2                  100.000000  ...                  False
 3                   28.455099  ...                  False
 4                  100.000000  ...                  False
 5                    0.000000  ...                  False
 6                  100.000000  ...                  False
 7                  100.000000  ...                  False
 8                   13.070890  ...                  False
 9                  100.000000  ...                  False

    month_posted_January  month_posted_July  month_posted_June  \
 0                 False               True              False
 1                 False               True              False
 2                 False               True              False
 3                 False               True              False
 4                 False               True              False
 5                 False               True              False
 6                 False               True              False
 7                 False              False              False
 8                 False               True              False
 9                 False               True              False

    month_posted_March  month_posted_May  month_posted_November  \
 0               False             False                  False
 1               False             False                  False
 2               False             False                  False
 3               False             False                  False
 4               False             False                  False
 5               False             False                  False
 6               False             False                  False
 7               False             False                  False
 8               False             False                  False
 9               False             False                  False

    month_posted_October  month_posted_September  months_since_posted
 0                 False                   False                    6
 1                 False                   False                    5
 2                 False                   False                    5
 3                 False                   False                    5
 4                 False                   False                    5
 5                 False                   False                    5
 6                 False                   False                    5
 7                 False                    True                    3
 8                 False                   False                    5
 9                 False                   False                    5

 [10 rows x 69 columns],
 ('logistic_regression',
  'low'):                           projectid date_posted  \
 0  ed68a7d94ba1e15394dbb1716b837cc9  2013-05-12
 1  3effd7b81b58c42d4b549791acc121f4  2013-03-21
 2  dd12883585f2c992d9568001a6ce9c64  2013-04-12

    probability_fully_funded_logistic_regression  \
 0                                      0.999907
 1                                      0.999235
 2                                      0.997200

    total_price_excluding_optional_support  students_reached  fully_funded  \
 0                                  497.46             502.0           1.0
 1                                  317.52             140.0           1.0
 2                                  231.98              15.0           1.0

   date_posted_test  total_projects_in_city  total_projects_in_state  \
 0       2013-05-12                       7                    40167
 1       2013-03-21                    1156                   126242
 2       2013-04-12                      41                     7728

    percentage_reached_month_1  ...  month_posted_February  \
 0                   89.705705  ...                  False
 1                  162.988158  ...                  False
 2                    0.000000  ...                  False

    month_posted_January  month_posted_July  month_posted_June  \
 0                 False              False              False
 1                 False              False              False
 2                 False              False              False

    month_posted_March  month_posted_May  month_posted_November  \
 0               False              True                  False
 1                True             False                  False
 2               False             False                  False

    month_posted_October  month_posted_September  months_since_posted
 0                 False                   False                    7
 1                 False                   False                    9
 2                 False                   False                    8

 [3 rows x 69 columns],
 ('logistic_regression',
  'moderate'):                           projectid date_posted  \
 0  a0e2c86d61c3154e8c9f1fde77479016  2013-03-26
 1  4c54491526dd79c04e1f5657ac5eed10  2013-07-30
 2  5108480f02d6ca4dd6208d05ac5a7c91  2013-02-18

    probability_fully_funded_logistic_regression  \
 0                                      0.999954
 1                                      0.999877
 2                                      0.999322

    total_price_excluding_optional_support  students_reached  fully_funded  \
 0                                  696.59              30.0           1.0
 1                                 1189.02              16.0           1.0
 2                                  587.48              23.0           1.0

   date_posted_test  total_projects_in_city  total_projects_in_state  \
 0       2013-03-26                    2346                   126242
 1       2013-07-30                      24                     9403
 2       2013-02-18                      20                     7027

    percentage_reached_month_1  ...  month_posted_February  \
 0                  186.614795  ...                  False
 1                  185.784932  ...                  False
 2                  136.171444  ...                   True

    month_posted_January  month_posted_July  month_posted_June  \
 0                 False              False              False
 1                 False               True              False
 2                 False              False              False

    month_posted_March  month_posted_May  month_posted_November  \
 0                True             False                  False
 1               False             False                  False
 2               False             False                  False

    month_posted_October  month_posted_September  months_since_posted
 0                 False                   False                    9
 1                 False                   False                    5
 2                 False                   False                   10

 [3 rows x 69 columns],
 ('logistic_regression',
  'high'):                           projectid date_posted  \
 0  9069d0603e76839c684dc6a1c138d639  2013-07-06
 1  a80f26f1e5916b8d9dcb6bf36c5fee79  2013-04-25
 2  504e1ec5da6aae62327e91989f50aa3c  2013-01-20
 3  cf5c360adec5160846578246f7e65e5a  2013-04-12
 4  00229f2003fd383c6ced36bc47761845  2013-08-30
 5  10b65bc84faeab717d892ea2e0f7a9bd  2013-08-09
 6  23093b3e4e0749f365c5637fd19258fa  2013-09-07
 7  466c5a055c749e521c39c93a2f3d109d  2013-04-13
 8  c22cf7e67f9ed001dcf1ccc687938aee  2013-07-13
 9  10d40cb99f042abce156be2b62ea3395  2013-07-20

    probability_fully_funded_logistic_regression  \
 0                                      0.999955
 1                                      0.999938

{('random_forest',
  'low'):                           projectid date_posted  \
 0  e94a5f08bb09a5c745edc4860b0d85ac  2013-01-01
 1  d97caf8b7243ba9128cc0a7aacdf9780  2013-08-30
 2  efd84a1f24856df0431a469a3abf4664  2013-08-25

    probability_fully_funded_random_forest  \
 0                                     1.0
 1                                     1.0
 2                                     1.0

    total_price_excluding_optional_support  students_reached  fully_funded  \
 0                                  752.10              30.0           1.0
 1                                  255.22             160.0           1.0
 2                                  450.50              23.0           1.0

   date_posted_test  total_projects_in_city  total_projects_in_state  \
 0       2013-01-01                     392                   126242
 1       2013-08-30                     131                   126242
 2       2013-08-25                     114                     7021

    percentage_reached_month_1  ...  month_posted_February  \
 0                       100.0  ...                  False
 1                       100.0  ...                  False
 2                       100.0  ...                  False

    month_posted_January  month_posted_July  month_posted_June  \
 0                  True              False              False
 1                 False              False              False
 2                 False              False              False

    month_posted_March  month_posted_May  month_posted_November  \
 0               False             False                  False
 1               False             False                  False
 2               False             False                  False

    month_posted_October  month_posted_September  months_since_posted
 0                 False                   False                   12
 1                 False                   False                    4
 2                 False                   False                    4

 [3 rows x 69 columns],
 ('random_forest',
  'moderate'):                           projectid date_posted  \
 0  0c61d6de55e1ec14bcf76540c132fee7  2013-10-02
 1  b313d50d7e4448569f988061630cb539  2013-04-14
 2  b7bf7820c5110ee7db3949b51a5a9c7d  2013-08-29

    probability_fully_funded_random_forest  \
 0                                     1.0
 1                                     1.0
 2                                     1.0

    total_price_excluding_optional_support  students_reached  fully_funded  \
 0                                  431.14              23.0           1.0
 1                                  378.53              35.0           1.0
 2                                  426.35             160.0           1.0

   date_posted_test  total_projects_in_city  total_projects_in_state  \
 0       2013-10-02                    1965                    10716
 1       2013-04-14                     357                   126242
 2       2013-08-29                      11                   126242

    percentage_reached_month_1  ...  month_posted_February  \
 0                         0.0  ...                  False
 1                       100.0  ...                  False
 2                       100.0  ...                  False

    month_posted_January  month_posted_July  month_posted_June  \
 0                 False              False              False
 1                 False              False              False
 2                 False              False              False

    month_posted_March  month_posted_May  month_posted_November  \
 0               False             False                  False
 1               False             False                  False
 2               False             False                  False

    month_posted_October  month_posted_September  months_since_posted
 0                  True                   False                    3
 1                 False                   False                    8
 2                 False                   False                    4

 [3 rows x 69 columns],
 ('random_forest',
  'high'):                           projectid date_posted  \
 0  88f263f1cd657bccce254ffc0b79df4d  2013-01-01
 1  4ebd0837defce812ff9d312c3f78db33  2013-08-04
 2  3fe2b20e3ab2c4f00d20a217329f2dc3  2013-08-04
 3  cc861ce787eb2377f5525755c8d2f159  2013-08-04
 4  42acb52f680b26dd5c6e4dd8bb71b056  2013-08-04
 5  f2c1c02e91f7ea8085102d21e1b71a5a  2013-08-04
 6  d150e9f7a2a50191f0878d1ecb617a80  2013-08-04
 7  ac107e18e3fb7cb38f814eea36adc807  2013-08-04
 8  5a78acfb85abc7975b982fb9c3f2448b  2013-08-04
 9  018441b047995a18ea631b6bedda34e8  2013-08-04

    probability_fully_funded_random_forest  \
 0                                     1.0
 1                                     1.0
 2                                     1.0
 3                                     1.0
 4                                     1.0
 5                                     1.0
 6                                     1.0
 7                                     1.0
 8                                     1.0
 9                                     1.0

    total_price_excluding_optional_support  students_reached  fully_funded  \
 0                                  868.02              28.0           1.0
 1                                  542.62              25.0           1.0
 2                                  156.05              25.0           1.0
 3                                  224.29              23.0           1.0
 4                                  164.26              18.0           1.0
 5                                  314.50             450.0           1.0
 6                                  147.23             150.0           1.0
 7                                  180.65              28.0           1.0
 8                                  384.55              30.0           1.0
 9                                  156.14             252.0           1.0

   date_posted_test  total_projects_in_city  total_projects_in_state  \
 0       2013-01-01                     102                   126242
 1       2013-08-04                    1428                    43478
 2       2013-08-04                     943                    10469
 3       2013-08-04                      98                    18615
 4       2013-08-04                     226                    30605
 5       2013-08-04                    2082                     1605
 6       2013-08-04                      76                    30605
 7       2013-08-04                     343                    10469
 8       2013-08-04                      73                    12330
 9       2013-08-04                   22097                   126242

    percentage_reached_month_1  ...  month_posted_February  \
 0                       100.0  ...                  False
 1                       100.0  ...                  False
 2                       100.0  ...                  False
 3                         0.0  ...                  False
 4                       100.0  ...                  False
 5                       100.0  ...                  False
 6                       100.0  ...                  False
 7                       100.0  ...                  False
 8                       100.0  ...                  False
 9                       100.0  ...                  False

    month_posted_January  month_posted_July  month_posted_June  \
 0                  True              False              False
 1                 False              False              False
 2                 False              False              False
 3                 False              False              False
 4                 False              False              False
 5                 False              False              False
 6                 False              False              False
 7                 False              False              False
 8                 False              False              False
 9                 False              False              False

    month_posted_March  month_posted_May  month_posted_November  \
 0               False             False                  False
 1               False             False                  False
 2               False             False                  False
 3               False             False                  False
 4               False             False                  False
 5               False             False                  False
 6               False             False                  False
 7               False             False                  False
 8               False             False                  False
 9               False             False                  False

    month_posted_October  month_posted_September  months_since_posted
 0                 False                   False                   12
 1                 False                   False                    4
 2                 False                   False                    4
 3                 False                   False                    4
 4                 False                   False                    4
 5                 False                   False                    4
 6                 False                   False                    4
 7                 False                   False                    4
 8                 False                   False                    4
 9                 False                   False                    4

 [10 rows x 69 columns],
 ('random_forest',
  'highest'):                           projectid date_posted  \
 0  a4e0b968275daae146f6e77e2afef570  2013-07-01
 1  763995355b81f37440658222ded8fec0  2013-07-12
 2  2c5be6788bdbbc7111d9ccb3a0b059b3  2013-07-12
 3  27207c2bee2123b7d22c4f4469382e30  2013-07-12
 4  2bd8e0c0da513dec9548b01cd91ef131  2013-07-12
 5  b1a21c0790ed71bbd0c6eca092822dea  2013-07-12
 6  0e8238b5415e9a107abe31f563f552eb  2013-07-12
 7  dcdb7df37032e8cf53ef61fcbefef1f5  2013-09-17
 8  dde9baebffc928f3c5f801b434ec51c4  2013-07-12
 9  085fa227621772806f65b8bad5393e95  2013-07-12

    probability_fully_funded_random_forest  \
 0                                     1.0
 1                                     1.0
 2                                     1.0
 3                                     1.0
 4                                     1.0
 5                                     1.0
 6                                     1.0
 7                                     1.0
 8                                     1.0
 9                                     1.0

    total_price_excluding_optional_support  students_reached  fully_funded  \
 0                                  151.42              82.0           1.0
 1                                  293.98              27.0           1.0
 2                                  378.77              20.0           1.0
 3                                  438.41             115.0           1.0
 4                                  224.85              24.0           1.0
 5                                  169.70              22.0           1.0
 6                                  371.79              30.0           1.0
 7                                  835.74              93.0           1.0
 8                                  195.09              25.0           1.0
 9                                  194.69             140.0           1.0

   date_posted_test  total_projects_in_city  total_projects_in_state  \
 0       2013-07-01                     137                     5770
 1       2013-07-12                    2945                     9837
 2       2013-07-12                    7134                   126242
 3       2013-07-12                    4234                    39661
 4       2013-07-12                     396                    30605
 5       2013-07-12                    6290                     9555
 6       2013-07-12                   28435                    40167
 7       2013-09-17                     104                     7027
 8       2013-07-12                    3569                    10716
 9       2013-07-12                    4044                    12330

    percentage_reached_month_1  ...  month_posted_February  \
 0                  100.000000  ...                  False
 1                    0.000000  ...                  False
 2                  100.000000  ...                  False
 3                   28.455099  ...                  False
 4                  100.000000  ...                  False
 5                    0.000000  ...                  False
 6                  100.000000  ...                  False
 7                  100.000000  ...                  False
 8                   13.070890  ...                  False
 9                  100.000000  ...                  False

    month_posted_January  month_posted_July  month_posted_June  \
 0                 False               True              False
 1                 False               True              False
 2                 False               True              False
 3                 False               True              False
 4                 False               True              False
 5                 False               True              False
 6                 False               True              False
 7                 False              False              False
 8                 False               True              False
 9                 False               True              False

    month_posted_March  month_posted_May  month_posted_November  \
 0               False             False                  False
 1               False             False                  False
 2               False             False                  False
 3               False             False                  False
 4               False             False                  False
 5               False             False                  False
 6               False             False                  False
 7               False             False                  False
 8               False             False                  False
 9               False             False                  False

    month_posted_October  month_posted_September  months_since_posted
 0                 False                   False                    6
 1                 False                   False                    5
 2                 False                   False                    5
 3                 False                   False                    5
 4                 False                   False                    5
 5                 False                   False                    5
 6                 False                   False                    5
 7                 False                    True                    3
 8                 False                   False                    5
 9                 False                   False                    5

 [10 rows x 69 columns],
 ('logistic_regression',
  'low'):                           projectid date_posted  \
 0  ed68a7d94ba1e15394dbb1716b837cc9  2013-05-12
 1  3effd7b81b58c42d4b549791acc121f4  2013-03-21
 2  dd12883585f2c992d9568001a6ce9c64  2013-04-12

    probability_fully_funded_logistic_regression  \
 0                                      0.999907
 1                                      0.999235
 2                                      0.997200

    total_price_excluding_optional_support  students_reached  fully_funded  \
 0                                  497.46             502.0           1.0
 1                                  317.52             140.0           1.0
 2                                  231.98              15.0           1.0

   date_posted_test  total_projects_in_city  total_projects_in_state  \
 0       2013-05-12                       7                    40167
 1       2013-03-21                    1156                   126242
 2       2013-04-12                      41                     7728

    percentage_reached_month_1  ...  month_posted_February  \
 0                   89.705705  ...                  False
 1                  162.988158  ...                  False
 2                    0.000000  ...                  False

    month_posted_January  month_posted_July  month_posted_June  \
 0                 False              False              False
 1                 False              False              False
 2                 False              False              False

    month_posted_March  month_posted_May  month_posted_November  \
 0               False              True                  False
 1                True             False                  False
 2               False             False                  False

    month_posted_October  month_posted_September  months_since_posted
 0                 False                   False                    7
 1                 False                   False                    9
 2                 False                   False                    8

 [3 rows x 69 columns],
 ('logistic_regression',
  'moderate'):                           projectid date_posted  \
 0  a0e2c86d61c3154e8c9f1fde77479016  2013-03-26
 1  4c54491526dd79c04e1f5657ac5eed10  2013-07-30
 2  5108480f02d6ca4dd6208d05ac5a7c91  2013-02-18

    probability_fully_funded_logistic_regression  \
 0                                      0.999954
 1                                      0.999877
 2                                      0.999322

    total_price_excluding_optional_support  students_reached  fully_funded  \
 0                                  696.59              30.0           1.0
 1                                 1189.02              16.0           1.0
 2                                  587.48              23.0           1.0

   date_posted_test  total_projects_in_city  total_projects_in_state  \
 0       2013-03-26                    2346                   126242
 1       2013-07-30                      24                     9403
 2       2013-02-18                      20                     7027

    percentage_reached_month_1  ...  month_posted_February  \
 0                  186.614795  ...                  False
 1                  185.784932  ...                  False
 2                  136.171444  ...                   True

    month_posted_January  month_posted_July  month_posted_June  \
 0                 False              False              False
 1                 False               True              False
 2                 False              False              False

    month_posted_March  month_posted_May  month_posted_November  \
 0                True             False                  False
 1               False             False                  False
 2               False             False                  False

    month_posted_October  month_posted_September  months_since_posted
 0                 False                   False                    9
 1                 False                   False                    5
 2                 False                   False                   10

 [3 rows x 69 columns],
 ('logistic_regression',
  'high'):                           projectid date_posted  \
 0  9069d0603e76839c684dc6a1c138d639  2013-07-06
 1  a80f26f1e5916b8d9dcb6bf36c5fee79  2013-04-25
 2  504e1ec5da6aae62327e91989f50aa3c  2013-01-20
 3  cf5c360adec5160846578246f7e65e5a  2013-04-12
 4  00229f2003fd383c6ced36bc47761845  2013-08-30
 5  10b65bc84faeab717d892ea2e0f7a9bd  2013-08-09
 6  23093b3e4e0749f365c5637fd19258fa  2013-09-07
 7  466c5a055c749e521c39c93a2f3d109d  2013-04-13
 8  c22cf7e67f9ed001dcf1ccc687938aee  2013-07-13
 9  10d40cb99f042abce156be2b62ea3395  2013-07-20

    probability_fully_funded_logistic_regression  \
 0                                      0.999955
 1                                      0.999938

In [14]:
stem_subjects = ['primary_focus_subject_Applied Sciences',
                 'primary_focus_subject_Health & Life Science',
                 'primary_focus_subject_Environmental Science',
                 'primary_focus_subject_Mathematics']

def classify_stem(row):
    # Check if any STEM subject column is 1
    return 'STEM' if row[stem_subjects].sum() > 0 else 'Non-STEM'

test_df['STEM_category'] = test_df.apply(classify_stem, axis=1)

In [15]:
for (model_type, pov_level), df in recommendations.items():
    df = df.drop_duplicates().reset_index(drop=True)  # Drop any existing duplicates
    df = df.reset_index(drop=True)
    recommendations[(model_type, pov_level)] = df.assign(model_type=model_type, pov_level=pov_level)

# Concatenate all DataFrames from recommendations
all_recs = pd.concat(recommendations.values(), ignore_index=True)

In [17]:
all_recs.columns

Index(['projectid', 'date_posted', 'probability_fully_funded_random_forest',
       'total_price_excluding_optional_support', 'students_reached',
       'fully_funded', 'date_posted_test', 'total_projects_in_city',
       'total_projects_in_state', 'percentage_reached_month_1',
       'percentage_reached_month_2', 'percentage_reached_month_3',
       'poverty_level_high poverty', 'poverty_level_highest poverty',
       'poverty_level_low poverty', 'poverty_level_moderate poverty',
       'school_metro_rural', 'school_metro_suburban', 'school_metro_urban',
       'grade_level_Grades 3-5', 'grade_level_Grades 6-8',
       'grade_level_Grades 9-12', 'grade_level_Grades PreK-2',
       'primary_focus_subject_Applied Sciences',
       'primary_focus_subject_Character Education',
       'primary_focus_subject_Civics & Government',
       'primary_focus_subject_College & Career Prep',
       'primary_focus_subject_Community Service', 'primary_focus_subject_ESL',
       'primary_focus_subject_Early Development',
       'primary_focus_subject_Economics',
       'primary_focus_subject_Environmental Science',
       'primary_focus_subject_Extracurricular',
       'primary_focus_subject_Foreign Languages',
       'primary_focus_subject_Gym & Fitness',
       'primary_focus_subject_Health & Life Science',
       'primary_focus_subject_Health & Wellness',
       'primary_focus_subject_History & Geography',
       'primary_focus_subject_Literacy',
       'primary_focus_subject_Literature & Writing',
       'primary_focus_subject_Mathematics', 'primary_focus_subject_Music',
       'primary_focus_subject_Nutrition', 'primary_focus_subject_Other',
       'primary_focus_subject_Parent Involvement',
       'primary_focus_subject_Performing Arts',
       'primary_focus_subject_Social Sciences',
       'primary_focus_subject_Special Needs', 'primary_focus_subject_Sports',
       'primary_focus_subject_Visual Arts', 'resource_type_Books',
       'resource_type_Other', 'resource_type_Supplies',
       'resource_type_Technology', 'resource_type_Trips',
       'resource_type_Visitors', 'month_posted_April', 'month_posted_August',
       'month_posted_December', 'month_posted_February',
       'month_posted_January', 'month_posted_July', 'month_posted_June',
       'month_posted_March', 'month_posted_May', 'month_posted_November',
       'month_posted_October', 'month_posted_September', 'months_since_posted',
       'model_type', 'pov_level',
       'probability_fully_funded_logistic_regression'],
      dtype='object')

In [18]:
all_recs

,projectid,date_posted,probability_fully_funded_random_forest,total_price_excluding_optional_support,students_reached,fully_funded,date_posted_test,total_projects_in_city,total_projects_in_state,percentage_reached_month_1,...,month_posted_June,month_posted_March,month_posted_May,month_posted_November,month_posted_October,month_posted_September,months_since_posted,model_type,pov_level,probability_fully_funded_logistic_regression
0,e94a5f08bb09a5c745edc4860b0d85ac,2013-01-01,1.0,752.10,30.0,1.0,2013-01-01,392,126242,100.000000,...,False,False,False,False,False,False,12,random_forest,low,NaN
1,d97caf8b7243ba9128cc0a7aacdf9780,2013-08-30,1.0,255.22,160.0,1.0,2013-08-30,131,126242,100.000000,...,False,False,False,False,False,False,4,random_forest,low,NaN
2,efd84a1f24856df0431a469a3abf4664,2013-08-25,1.0,450.50,23.0,1.0,2013-08-25,114,7021,100.000000,...,False,False,False,False,False,False,4,random_forest,low,NaN
3,0c61d6de55e1ec14bcf76540c132fee7,2013-10-02,1.0,431.14,23.0,1.0,2013-10-02,1965,10716,0.000000,...,False,False,False,False,True,False,3,random_forest,moderate,NaN
4,b313d50d7e4448569f988061630cb539,2013-04-14,1.0,378.53,35.0,1.0,2013-04-14,357,126242,100.000000,...,False,False,False,False,False,False,8,random_forest,moderate,NaN
5,b7bf7820c5110ee7db3949b51a5a9c7d,2013-08-29,1.0,426.35,160.0,1.0,2013-08-29,11,126242,100.000000,...,False,False,False,False,False,False,4,random_forest,moderate,NaN
6,88f263f1cd657bccce254ffc0b79df4d,2013-01-01,1.0,868.02,28.0,1.0,2013-01-01,102,126242,100.000000,...,False,False,False,False,False,False,12,random_forest,high,NaN
7,4ebd0837defce812ff9d312c3f78db33,2013-08-04,1.0,542.62,25.0,1.0,2013-08-04,1428,43478,100.000000,...,False,False,False,False,False,False,4,random_forest,high,NaN
8,3fe2b20e3ab2c4f00d20a217329f2dc3,2013-08-04,1.0,156.05,25.0,1.0,2013-08-04,943,10469,100.000000,...,False,False,False,False,False,False,4,random_forest,high,NaN
9,cc861ce787eb2377f5525755c8d2f159,2013-08-04,1.0,224.29,23.0,1.0,2013-08-04,98,18615,0.000000,...,False,False,False,False,False,False,4,random_forest,high,NaN
10,42acb52f680b26dd5c6e4dd8bb71b056,2013-08-04,1.0,164.26,18.0,1.0,2013-08-04,226,30605,100.000000,...,False,False,False,False,False,False,4,random_forest,high,NaN
11,f2c1c02e91f7ea8085102d21e1b71a5a,2013-08-04,1.0,314.50,450.0,1.0,2013-08-04,2082,1605,100.000000,...,False,False,False,False,False,False,4,random_forest,high,NaN
12,d150e9f7a2a50191f0878d1ecb617a80,2013-08-04,1.0,147.23,150.0,1.0,2013-08-04,76,30605,100.000000,...,False,False,False,False,False,False,4,random_forest,high,NaN
13,ac107e18e3fb7cb38f814eea36adc807,2013-08-04,1.0,180.65,28.0,1.0,2013-08-04,343,10469,100.000000,...,False,False,False,False,False,False,4,random_forest,high,NaN
14,5a78acfb85abc7975b982fb9c3f2448b,2013-08-04,1.0,384.55,30.0,1.0,2013-08-04,73,12330,100.000000,...,False,False,False,False,False,False,4,random_forest,high,NaN
15,018441b047995a18ea631b6bedda34e8,2013-08-04,1.0,156.14,252.0,1.0,2013-08-04,22097,126242,100.000000,...,False,False,False,False,False,False,4,random_forest,high,NaN
16,a4e0b968275daae146f6e77e2afef570,2013-07-01,1.0,151.42,82.0,1.0,2013-07-01,137,5770,100.000000,...,False,False,False,False,False,False,6,random_forest,highest,NaN
17,763995355b81f37440658222ded8fec0,2013-07-12,1.0,293.98,27.0,1.0,2013-07-12,2945,9837,0.000000,...,False,False,False,False,False,False,5,random_forest,highest,NaN
18,2c5be6788bdbbc7111d9ccb3a0b059b3,2013-07-12,1.0,378.77,20.0,1.0,2013-07-12,7134,126242,100.000000,...,False,False,False,False,False,False,5,random_forest,highest,NaN
19,27207c2bee2123b7d22c4f4469382e30,2013-07-12,1.0,438.41,115.0,1.0,2013-07-12,4234,39661,28.455099,...,False,False,False,False,False,False,5,random_forest,highest,NaN
20,2bd8e0c0da513dec9548b01cd91ef131,2013-07-12,1.0,224.85,24.0,1.0,2013-07-12,396,30605,100.000000,...,False,False,False,False,False,False,5,random_forest,highest,NaN
21,b1a21c0790ed71bbd0c6eca092822dea,2013-07-12,1.0,169.70,22.0,1.0,2013-07-12,6290,9555,0.000000,...,False,False,False,False,False,False,5,random_forest,highest,NaN
22,0e8238b5415e9a107abe31f563f552eb,2013-07-12,1.0,371.79,30.0,1.0,2013-07-12,28435,40167,100.000000,...,False,False,False,False,False,False,5,random_forest,highest,NaN
23,dcdb7df37032e8cf53ef61fcbefef1f5,2013-09-17,1.0,835.74,93.0,1.0,2013-09-17,104,7027,100.000000,...,False,False,False,False,False,True,3,random_forest,highest,NaN
24,dde9baebffc928f3c5f801b434ec51c4,2013-07-12,1.0,195.09,25.0,1.0,2013-07-12,3569,10716,13.070890,...,False,False,False,False,False,False,5,random_forest,highest,NaN
25,085fa227621772806f65b8bad5393e95,2013-07-12,1.0,194.69,140.0,1.0,2013-07-12,4044,12330,100.000000,...,False,False,False,False,False,False,5,random_forest,highest,NaN
26,ed68a7d94ba1e15394dbb1716b837cc9,2013-05-12,NaN,497.46,502.0,1.0,2013-05-12,7,40167,89.705705,...,False,False,True,False,False,False,7,logistic_regression,low,0.999907
27,3effd7b81b58c42d4b549791acc121f4,2013-03-21,NaN,317.52,140.0,1.0,2013-03-21,1156,126242,162.988158,...,False,True,False,False,False,False,9,logistic_regression,low,0.999235
28,dd12883585f2c992d9568001a6ce9c64,2013-04-12,NaN,231.98,15.0,1.0,2013-04-12,41,7728,0.000000,...,False,False,False,False,False,False,8,logistic_regression,low,0.997200
29,a0e2c86d61c3154e8c9f1fde77479016,2013-03-26,NaN,696.59,30.0,1.0,2013-03-26,2346,126242,186.614795,...,False,True,False,False,False,False,9,logistic_regression,moderate,0.999954
30,4c54491526dd79c04e1f5657ac5eed10,2013-07-30,NaN,1189.02,16.0,1.0,2013-07-30,24,9403,185.784932,...,False,False,False,False,False,False,5,logistic_regression,moderate,0.999877
31,5108480f02d6ca4dd6208d05ac5a7c91,2013-02-18,NaN,587.48,23.0,1.0,2013-02-18,20,7027,136.171444,...,False,False,False,False,False,False,10,logistic_regression,moderate,0.999322
32,9069d0603e76839c684dc6a1c138d639,2013-07-06,NaN,250.56,48.0,1.0,2013-07-06,87,30605,174.293582,...,False,False,False,False,False,False,5,logistic_regression,high,0.999955
33,a80f26f1e5916b8d9dcb6bf36c5fee79,2013-04-25,NaN,549.49,30.0,1.0,2013-04-25,8215,43478,177.344447,...,False,False,False,False,False,False,8,logistic_regression,high,0.999938
34,504e1ec5da6aae62327e91989f50aa3c,2013-01-20,NaN,159.77,24.0,1.0,2013-01-20,84,12330,153.201477,...,False,False,False,False,False,False,11,logistic_regression,high,0.999871
35,cf5c360adec5160846578246f7e65e5a,2013-04-12,NaN,727.13,25.0,1.0,2013-04-12,32,1383,170.138765,...,False,False,False,False,False,False,8,logistic_regression,high,0.999861
36,00229f2003fd383c6ced36bc47761845,2013-08-30,NaN,1547.42,128.0,1.0,2013-08-30,279,126242,193.381241,...,False,False,False,False,False,False,4,logistic_regression,high,0.999756
37,10b65bc84faeab717d892ea2e0f7a9bd,2013-08-09,NaN,1583.34,150.0,1.0,2013-08-09,166,126242,191.262774,...,False,False,False,False,False,False,4,logistic_regression,high,0.999698
38,23093b3e4e0749f365c5637fd19258fa,2013-09-07,NaN,1651.25,70.0,1.0,2013-09-07,70,126242,187.509463,...,False,False,False,False,False,True,3,logistic_regression,high,0.999587
39,466c5a055c749e521c39c93a2f3d109d,2013-04-13,NaN,154.24,23.0,1.0,2013-04-13,329,2127,0.000000,...,False,False,False,False,False,False,8,logistic_regression,high,0.999578
40,c22cf7e67f9ed001dcf1ccc687938aee,2013-07-13,NaN,1697.09,15.0,1.0,2013-07-13,32,126242,185.145749,...,False,False,False,False,False,False,5,logistic_regression,high,0.999496
41,10d40cb99f042abce156be2b62ea3395,2013-07-20,NaN,1725.66,30.0,1.0,2013-07-20,32,126242,183.736078,...,False,False,False,False,False,False,5,logistic_regression,high,0.999413
42,2be31e8ed070f2c71021cb7cd28f669b,2013-02-20,NaN,942.90,21.0,1.0,2013-02-20,8215,43478,221.773253,...,False,False,False,False,False,False,10,logistic_regression,highest,0.999996
43,e891154767af72f5889a4ee9c269ccfc,2013-09-03,NaN,1726.73,43.0,1.0,2013-09-03,63,126242,0.000000,...,False,False,False,False,False,True,3,logistic_regression,highest,0.999884
44,80de6d8194fedd2f27778aa58bb6d724,2013-02-15,NaN,155.88,75.0,1.0,2013-02-15,28435,40167,140.896844,...,False,False,False,False,False,False,10,logistic_regression,highest,0.999807
45,11de69d170d074e3e5ec043a5ce73fe3,2013-08-27,NaN,1699.93,100.0,1.0,2013-08-27,22097,126242,185.003500,...,False,False,False,False,False,False,4,logistic_regression,highest,0.999667
46,815395153f4552eefefeecb873b06398,2013-07-16,NaN,1684.43,36.0,1.0,2013-07-16,236,126242,185.785696,...,False,False,False,False,False,False,5,logistic_regression,highest,0.999502
47,81657e229e1dfa772abeee77b7693dc6,2013-08-04,NaN,135.78,60.0,1.0,2013-08-04,28435,40167,0.000000,...,False,False,False,False,False,False,4,logistic_regression,highest,0.999144
48,6ecdac4a3ab7aa0f0f1641001f5d6401,2013-06-08,NaN,142.15,30.0,1.0,2013-06-08,28435,40167,0.000000,...,True,False,False,False,False,False,6,logistic_regression,highest,0.999135
49,c9012494f0871fbe304cd4928189e2ea,2013-04-08,NaN,149.73,20.0,1.0,2013-04-08,28435,40167,0.000000,...,False,False,False,False,False,False,8,logistic_regression,highest,0.999123
50,82af25a04bad1eed9a07f01c42881cc9,2013-07-29,NaN,160.04,78.0,1.0,2013-07-29,28435,40167,0.000000,...,False,False,False,False,False,False,5,logistic_regression,highest,0.999108
51,a35d96eb60c1cb6eabecdd91709f4fb1,2013-08-31,NaN,141.59,26.0,1.0,2013-08-31,28435,40167,3.601949,...,False,False,False,False,False,False,4,logistic_regression,highest,0.999108